[2012-08-21 04:28] coryvirok opened #1 "notifier isn't sending a "platform" param... should it be "python"?"

[2013-03-06 12:42] lardissone opened #3 ""View in Rollbar" twice on debug page"
I don't know if it's my configuration or if it's a bug but see:
![AssertionError at _](https://f.cloud.github.com/assets/59826/227350/3a4017a8-865b-11e2-91e9-85d551a66577.png)

[2013-03-06 20:07] #3 closed, assigned to nobody

[2013-04-14 00:29] katzj opened #4 "Make sys.exc_info() default exc_info for report_exc_info"
Any reason not to have report_exc_info allow itself to be called with no arguments and have it then just grab sys.exc_info() as the exception info to use?  Would make callers even simpler for the usual case.

[2013-04-14 00:53] #4 closed, assigned to nobody

[2013-05-08 19:36] james-m opened #5 "Question: gevent with monkey patched sockets, should set handler to blocking?"
[question / clarification]

Hello--

We're a gevent shop and very interested in rollbar--there is an example of using rollbar with a gevent wsgi server (https://rollbar.com/docs/project/1888/items_python/). I was expecting the rollbar.init() call in this example to actually set the handler to blocking, which if you've monkey patched socket (as I would expect is the common case when using gevent),

[2013-09-06 23:22] sbezboro opened #10 "Have bottle plugin ignore BaseResponse exceptions using exception_level_filters"
Instead of a `isinstance` check in https://github.com/rollbar/pyrollbar/blob/c85077f59d0432a6c611df64b22bd9cd0e77b5a0/rollbar/contrib/bottle/__init__.py#L14

[2013-09-13 01:25] #10 closed, assigned to nobody

[2013-10-02 20:50] brianr opened #12 "Flask - request.form isn't useful when request is JSON"
Via @glasserc:

Relevant code is here: https://github.com/rollbar/pyrollbar/blob/master/rollbar/__init__.py#L618

What we probably want to do is:
- check the mimetype to see if it's `application/json`
  - if so, try to use the parsed request data (parse as json, preferably using whatever flask provides)
  - if that fails, include the raw post data instead
- otherwise, use `request.form` as usual

[2013-10-03 19:21] #12 closed, assigned to nobody

[2013-11-12 12:46] dmitry-mukhin opened #14 "rollbar raises if exc_info is empty"
`sys.exc_info` may return `(None, None, None)`
`_report_exc_info` doesn't expect that and raises, nothing gets reported in this case.

[2014-04-28 18:23] palewire opened #21 "Is there a Django logging "handler" ala mail_admins?"
I would love be able to use a Django logging ["handler"](https://docs.djangoproject.com/en/dev/topics/logging/#id3), ala `mail_admins`, that could catch errors that happen outside of the middleware and ship them to rollbar. My use case are celery job queue tasks that run in the background separate from web requests.

[2014-04-29 17:01] #21 closed, assigned to nobody

[2014-05-20 19:07] sbezboro opened #23 "Exception in flask view doesn't grab request info"
Due to a `OperationalError: (OperationalError) (1267, "Illegal mix of collations (latin1_swedish_ci,IMPLICIT) and (utf8_general_ci,COERCIBLE) for operation 'like'")`

caused by https://github.com/sbezboro/standard-web-flask/blob/a269aef3b19dae4a5ab4df68f6bf351a7c410f00/standardweb/views.py#L103

[2014-06-03 03:51] brianr opened #24 "Dict with integer keys breaks scrubbing"
Luckily I think this will only happen when using the new local variables code, and it just results in the local variables data being dropped. Nevertheless:

[code]

I think this happens because one of my variables is a dict like `{1: "hello", 2: "world"}`

[2014-06-05 01:54] #24 closed, assigned to nobody

[2014-06-20 09:31] vendula opened #25 "[ ![Codeship Status for vendula/pywallet](https://www.codeship.io/projects/4aabc260-6b79-0131-9afd-7eeec5a30d24/status)](https://www.codeship.io/projects/13016)"

[2014-06-20 09:31] #25 closed, assigned to nobody

[2014-06-22 19:59] dmitry-mukhin opened #26 "fail to get locals with celery"
[code]

[2014-06-23 21:32] zimathias opened #27 "Exception with flask and json request"
Exception while building request_data for Rollbar payload: NameError("global name '_scrub_request_params' is not defined",)

It seems that _scrub_request_params is not defined anywhere in the code.

[2014-06-23 23:02] #27 closed, assigned to nobody

[2014-06-24 00:24] #26 closed, assigned to nobody

[2014-08-15 01:52] coryvirok opened #30 "Make blacklisted_local_types configurable"
We want to allow the user to configure the `blacklisted_local_types` object. Currently, this is only done by `rollbar.contrib.django` when it's imported.

[2014-12-01 23:06] asnyatkov opened #37 "exception_level_filters: support string for filtered class name"
It would be nice to specify filtered exceptions using strings instead of class types. Sometimes is not possible to import required classes in Django settings because of conditionally loaded modules.

[2014-12-04 19:33] asnyatkov opened #39 "Scrub or delete http request headers"
There are several use cases for scrubbing http headers. For example, in our project I want to scrub:
- API authentication tokens
- Cookies
- Custom headers used to identify users

The simplest implementation would be to add two lines to _scrub_request_data:

        if request_data.get('headers'):
            request_data['headers'] = _scrub_obj(request_data['headers'])

[2014-12-07 13:48] d2rk opened #40 "Message formatting"
`rollbar.logger.RollbarHandler` doesn't format messages properly: `logger.debug("Hello from %s", name)` will show only `Hello from %s`.

[2014-12-08 19:12] #40 closed, assigned to nobody

[2014-12-21 16:52] fjorgemota opened #42 "Allow the use of Rollbar module on free Appengine apps"
Hey.

I have a free Appengine app (http://matrufsc2.appspot.com) and I'm having problems on using pyrollbar on production: Every time an exception is raised in the program,  Appengine show the following message in log:

[code]
As you can see, all the traceback starts with the call made by pyrollbar to requests, which uses urllib3 which uses socket API to get addr info about rollbar host and other

[2015-01-18 18:11] mathieuripert opened #44 "ERROR:rollbar:Exception while posting item ApiError(u'could not parse json',)"
Hi all,

I am trying to report all exceptions to rollbar using `rollbar.report_exc_info()` but i get the following error:

[code]

I am using rollbar 0.9.6

I inspected sys.exec_info()  but cannot find the reason why it fails.
Any help would much appreciated !

[2015-01-18 18:31] mathieuripert commented on #44
To be more precise, it depends on the exception. Below an example of code that generates the "could not parse json" error.

[code]

However, an exception like the folllowing works perfectly

[code]

[2015-01-19 05:38] coryvirok commented on #44
Thanks for the report, Mathieu. I'm looking into this now.

Cory Virok, @coryvirok <http://twitter.com/coryvirok>
Co-founder and CTO, Rollbar <http://rollbar.com/>

On Sun, Jan 18, 2015 at 10:31 AM, Mathieu Ripert <notifications@github.com>
wrote:

[2015-01-19 05:50] rollbardemo commented on #44
I've found the problem. It's that the Python notifier is sending over JSON
that includes NaN as one of the values. I'm looking at fixes now.

Cory Virok, @coryvirok <http://twitter.com/coryvirok>
Co-founder and CTO, Rollbar <http://rollbar.com/>

On Sun, Jan 18, 2015 at 9:38 PM, Cory Virok <notifications@github.com>
wrote:

[2015-01-19 06:24] coryvirok commented on #44
I've deployed a fix. Please let me know if this is still a problem.

[2015-01-19 06:24] #44 closed

[2015-01-19 19:10] mathieuripert commented on #44
that works! thanks.
In case, the locals are not json serializable, what happens? you exclude them, right?

[2015-01-21 06:26] rollbardemo commented on #44
We will try and serialize them but if that doesn't work we send it's type.

https://rollbar.com

On Jan 19, 2015, at 11:10 AM, Mathieu Ripert <notifications@github.com>
wrote:

that works! thanks.
In case, the locals are not json serializable, what happens? you exclude
them, right?

—
Reply to this email directly or view it on GitHub
<https://github.com/rollbar/pyrollbar/issues/44#issuecomment-705

[2015-01-23 18:12] mathieuripert opened #45 "RQ support"
Guys,

Do you plan to implement a RQ integration?
http://python-rq.org/

Thanks,

[2015-01-23 18:40] brianr commented on #45
Hi @mathieuripert -- thanks for the request! We don't currently have plans to implement this ourselves, but we'd happily accept a pull request.

[2015-02-05 08:14] 7wonders opened #49 "[Django] ERROR: Exception while reporting exc_info to Rollbar. UnicodeEncodeError('ascii', ..."
Getting the following error.
[code]

[2015-02-05 17:51] brianr commented on #49
Thanks @7wonders for the report. We'll get this fixed.

[2015-02-10 03:40] #49 closed

[2015-02-25 23:10] #39 closed

[2015-02-25 23:10] #37 closed

[2015-02-25 23:15] asnyatkov opened #52 "Support bare wsgi environment in _build_request_data"
One of our projects uses bare wsgi to process requests, it would be nice to extract data from them.

I'll send a PR shortly.

[2015-03-03 04:17] #42 closed

[2015-03-20 00:54] stevepeak opened #56 "When rb has exception policy"
Rollbar, itself, seems to be having problem that I cannot seem to solve (see traceback below). Either way I would suggest that if rb has an exception that you catch it and stdout the original traceback and the rollbar exception. I'm having trouble debuging my code when rb fails to report and nothing is printed. I've seen some other errors before like 500 server errors and such, which is understand

[2015-03-20 01:00] brianr commented on #52
Closing this - this was implemented in https://github.com/rollbar/pyrollbar/pull/55 . Thanks @asnyatkov !

[2015-03-20 01:00] #52 closed

[2015-03-20 01:02] brianr commented on #56
Hi @stevepeak , thanks for the report!

Are you sure that the original exception (from your application) isn't being reported? If an exception happens in `_add_locals_data`, it should result in that exception being logged, and then locals simply won't be collected for that report...

Here's the `try` that encloses the line you referenced: https://github.com/rollbar/pyrollbar/blob/master/rollbar/__

[2015-03-20 01:31] stevepeak commented on #56
Thank you for the prompt reply. I see the wrapper which is great! Sorry for my confusion.

I was hoping that Rollbar would also log the original traceback. Like in this example below:

### Currently
[code]

Would it be possible to add a `Uncaught exception notice` at L739? Otherwise I have to do this everywhere.

[code]

[2015-04-10 22:53] #45 closed

[2015-04-10 23:00] brianr commented on #45
Hey @mathieuripert -- RQ support has landed in version 0.9.9 (install via pip). Give it a shot when you can.

Instructions here: https://github.com/rollbar/pyrollbar/blob/master/rollbar/contrib/rq/__init__.py#L2-L30

Thanks!

[2015-04-12 02:46] mathieuripert commented on #45
awesome! thanks @brianr

[2015-05-08 22:55] expntly opened #58 "log arguments not displayed properly"
[It might be the wrong place to post the issue, let me know where to go if that's the case.]

I use RollbarHandler.  I noticed that doing logger.error("arg %s", "foo") shows up as literally "arg %s" on the items I see on rollbar.com.  Am I missing something?  I would've expected rollbar to show "arg foo".  The args are nowhere to be found on the web interface.

I see here https://github.com/rollba

[2015-05-09 19:23] expntly commented on #58
Actually I see the args in message.args.  Would be great to have the string formatted properly though.  Anyway I'll close the issue, don't think this has to do with pyrollbar.

[2015-05-09 19:23] #58 closed

[2015-05-13 00:52] brianr opened #59 "Request data collection doesn't work in Flask 0.9"
In Flask 0.9, the call to `request.get_json()` fails, causing the request data to not be attached. Exception is like this:

[code]

Might be able to fix by calling `request.json()` instead; need to double-check compatibility.

[2015-05-13 00:58] philfreo commented on #59
I think you mean `request.json` instead of `request.json()`

[2015-05-14 00:38] coryvirok commented on #58
That is confusing. I'll chat with the team and see if there's a way we can make this better.

[2015-05-14 03:14] kshep opened #60 "Improper serialization can lead to "could not parse json" responses from the Rollbar API"
We're working on this internally at Rollbar, but just everyone's aware of the problem:

In versions of pyrollbar up to and including 0.9.8, ```ErrorIgnoringJSONEncoder().encode(payload)``` has difficulty serializing some objects, resulting in invalid JSON being sent to Rolbar.

Specifically, we've seen this with ```sqlalchemy.util.symbol``` objects, where we see ```symbol('PASSIVE_OFF')``` end up

[2015-05-15 03:29] #59 closed

[2015-05-15 16:05] kshep commented on #60
This happens with SQLAlchemy >= 0.9.0 because simplejson thinks that sqlalchemy.util.symbol("PASSIVE_OFF") is an integer. I just logged an issue with SQLAlchemy...

https://bitbucket.org/zzzeek/sqlalchemy/issue/3422/cant-json-serialize

...and I'm testing a workaround.

[2015-05-18 15:55] kshep commented on #60
Just for completeness, there's also a simplejson issue for this: https://github.com/simplejson/simplejson/issues/118

And we'll probably push a pyrollbar fix later today.

[2015-05-19 23:53] #60 closed

[2015-08-13 14:08] Marco-Santoni opened #66 "Support for Python 3.4"
I have tried to install and run `rollbar` with Python 3.4.3, and it worked nicely. However, the [readme](https://github.com/rollbar/pyrollbar#requirements) states that only 2.6, 2.7, 3.2 or 3.3 are supported.

Is just the readme outdated? Or is Python 3.4 not tested yet?

[2015-08-13 17:23] brianr commented on #66
Hi @Marco-Santoni - thanks for pointing that out. This is just the readme being out of date; we do run the tests on python 3.4 and they're passing: https://travis-ci.org/rollbar/pyrollbar

We'll update the readme. Thanks!

[2015-08-13 17:25] #66 closed

[2015-08-28 18:45] brianr opened #67 "Ability to customize how objects are repr()'d"
pyrollbar uses reprlib to get representations of objects gathered as local variables. This means that to customize it, the only current option is to define/override `__repr__`. That isn't a good option in some cases, including:
- objects coming from external libraries
- objects where something else depends on the existing `__repr__` implementation

Creating this issue to discuss the design for how

[2015-08-31 21:12] coryvirok commented on #67
Thanks for starting the convo, Brian.

I would probably expose a new configuration option that would allow the user to provide a function that would be used instead of `__repr__()` when serializing the local variable data.

e.g.

[code]

[2015-09-14 12:39] 7wonders opened #70 "v0.9.14 [Django] ERROR: Exception while posting item"
[code]

[2015-09-15 19:44] coryvirok commented on #70
Hi @7wonders. Thanks for the bug report. We will take a look.

[2015-09-29 01:39] brianr opened #72 "rollbar.init() silently ignores passed options if called multiple times"
`rollbar.init()` keeps track of whether it has been initialized, and only runs the body of the function if it has not yet been initialized. This means that if you call it multiple times -- perhaps unintentionally, i.e. you have a complex app within multiple `rollbar.init()` calls -- the options you pass after the first time are ignored, and there's nothing to tell you so.

I think we should:

- at

[2015-09-29 17:51] coryvirok commented on #72
Seems like the next thing to do is implement the new notifier interface. `rollbar.configure({})` will respect multiple "initializations".

[2015-09-30 15:31] alexwidener opened #74 "HTTP/HTTPS connection causing application to crash"
Application: Autodesk Maya 2015 SP5 (runs Python 2.7.3)
Internal Python: 2.7.3
pyrollbar: 0.9.14 & 0.10.0

When using rollbar with either https or http as the endpoint url, rollar will intermittently cause the application to crash.

It's been determined to be the http/https portion through the following:
 - Launching the application(Maya) in debug mode causes the application to never crash while r

[2015-10-05 18:34] coryvirok commented on #74
Hi Alex,

Sorry for the problems you're seeing. Do you have any traceback information when the app crashes?

[2015-10-05 19:23] alexwidener commented on #74
Hi! Sent through e-mail to Chris.

[2015-10-05 19:57] alexwidener commented on #74
For anyone in the future: the fix appears to have been to set the handler to 'blocking'. Cory also recommended to disable local variable gathering, so this would have been the code:

`rollbar.init('ACCESS_TOKEN', handler='blocking', locals={'enabled': 'false'})`

[2015-10-05 19:57] #74 closed

[2015-10-19 11:11] elvis-macak opened #79 "multiple rollbar.init"
I got some projects, let's name them projectA, projectB. and each one has it's own rollbar init calls, of cousre with different access_token.

and now I have a new projectC, that will depends on projectA and projectB. that means `rollbar.init` will call ether in projectA, projectB, projectC. as the rollbar code, the latest one will overwritte the previous.

as the code beblow, can I use access_tok

[2015-10-20 05:58] elvis-macak commented on #72
the same issue https://github.com/rollbar/pyrollbar/issues/79

most time, we just call `rollbar.report_exc_info`, in that method, we can pass an arguments called `payload_data`, we can do as much as we can with this.

currently, it cannot accepts access_token, hope can sepcify in it

[2015-10-20 06:00] elvis-macak commented on #72
like this
<pre>
payload = {"access_token": ROLLBAR_ACCESS_TOKEN}
rollbar.report_exc_info(payload_data=payload)
</pre>

[2015-10-21 23:17] arriolac commented on #45
I tried the instructions specified in https://github.com/rollbar/pyrollbar/blob/master/rollbar/contrib/rq/__init__.py#L2-L30 but I'm not able to see the errors in rollbar.

Anyone else have the same issue?

[2015-10-21 23:27] arriolac commented on #45
Failure appears to happen in `_post_api`:
[code]

After this line, Python quits unexpectedly.

[2015-10-27 19:23] coryvirok opened #80 "`safe_repr` option doesn't work as designed"
Since we are serializing objects before calling the shortener code which looks at `safe_repr` we will never call `repr()` on a non-built-in type.

[2015-11-09 10:30] oyiptong opened #82 "JSON body causes Rollbar to reject submissions"
Due to https://github.com/rollbar/pyrollbar/blob/ac8264cf90ef12bc46f704b97731ee6ff023fb03/rollbar/__init__.py#L1048, Rollbar rejects messages that have message bodies that are objects, not strings.

According to https://rollbar.com/docs/api/items_post/, the message should contain the raw POST body.

[2015-11-17 22:10] coryvirok commented on #82
I have updated our server to correct this on our end so this shouldn't be a problem anymore.

[2015-11-17 22:10] #82 closed

[2016-01-27 23:49] suhaasprasad opened #90 "UnicodeEncodeError"
Seeing a UnicodeEncodeError when trying to report an error on Google App Engine:

[code]

[2016-01-28 00:03] brianr commented on #90
Thanks for the report. What version of pyrollbar and python are you running?

[2016-02-16 04:40] sibson commented on #67
+1 as is.  It might be nice to support a __rollbar_repr__() convention of some kind for internal code.

[2016-02-22 12:39] Crisfole opened #94 "Testing Issues"
This is a test issue for Zapier's Github -> Helpscout integration.

[2016-03-01 21:22] jfarrimo commented on #67
We need to make sure the solution to this addresses the problem that this pull request attempted to address. https://github.com/rollbar/pyrollbar/pull/91

[2016-03-02 23:11] atbaker opened #100 "Re-init warning when I've only initialized rollbar once"
Hi,

I'm integrating Rollbar into a Django 1.9 project running Python 3.4. Everything's working fine, but I do get the re-init warning when I run my project locally. Here's my full console log:

[code]

The warning message doesn't appear until I make my first request to the server.

Could it have something to do with the fact that I'm spreading my settings across multiple modules? Here's my tree:

[2016-03-03 00:45] jfarrimo commented on #100
Hi,

It looks like your problem is that you're calling `rollbar.init()` explicitly.  With our Django integration, that's handled internally.  If you remove that call from your `production.py` file, along with the `import rollbar` line, that message should disappear.

[2016-03-03 00:54] atbaker commented on #100
Huh - I could have sworn the directions in the sign up workflow told me to paste in that `init` line.

Thanks!

[2016-03-03 00:54] #100 closed

[2016-03-03 00:59] brianr commented on #100
To be precise, with Django the `rollbar.init` call happens inside the rollbar django middleware: https://github.com/rollbar/pyrollbar/blob/master/rollbar/contrib/django/middleware.py#L92

If you have other code paths where the middleware isn't initialized (background scripts?) then you *will* still need to call rollbar.init() separately. So I think the best solution right now may actually be to ke

[2016-03-03 01:00] atbaker commented on #100
Good to know @brianr. And I found the rollbar/docs repo - turns out I'm not crazy (yet). It does have the init line:

https://github.com/rollbar/docs/blob/master/onboarding/django.md

[2016-03-09 16:36] Crisfole commented on #80
@coryvirok does that merge solve this issue? I can't seem to get safe_repr working at all...

[2016-03-09 17:31] gcbirzan commented on #80
It does work for us.

[2016-03-17 16:46] benkuhn opened #101 "Catch exceptions in __repr__?"
Hi Rollbar folks, thanks for making an awesome tool!

I found myself wishing recently that Rollbar wrapped calls to `repr` inside a try/except block for whitelisted types or if `safe_repr` was turned off.

Rationale: it's very hard to ensure that `__repr__` of a whitelisted type never throws an exception. Even if I wrap the whitelisted repr in a global try/except block, someone else might come alo

[2016-03-17 17:06] Crisfole commented on #101
Hey, submit away! That'd be awesome.

[2016-03-23 15:57] benkuhn opened #103 "traverse throws an exception on certain SQLAlchemy objects"
I just discovered that a certain exception wasn't being reported to Rollbar because the stack trace included an object that was causing the traversal code to raise an exception, due to being mistaken for a `namedtuple` when it wasn't actually. Minimal example:

[code]

This also applies to several other SQLAlchemy objects, notably a type named `result`, which is the one that actually caused our er

[2016-03-23 17:20] #101 closed

[2016-03-23 17:40] #94 closed

[2016-03-25 12:54] zgoda-mobica opened #104 "Twisted integration fails"
Simplest possible Twisted code:

[code]

This fails with:

[code]

And program enters infinite loop.

Environment:

[code]

It does not matter if I wait until reactor starts (eg. with reactor.callLater()), calling rollbar.report_message() always ends with above error.

[2016-03-25 13:13] zgoda-mobica opened #105 "Twisted SSL support"
[code]

Instead of trying to [import OpenSSL](https://github.com/rollbar/pyrollbar/blob/master/rollbar/__init__.py#L110), it would be better to try to import service_identity - it already has pyOpenSSL as dependency.

[2016-03-25 14:13] zgoda-mobica commented on #104
This seems to come from imported unicode_literals. And there's more problems with this setting there:

[code]

[2016-03-25 16:06] zgoda-mobica commented on #104
PR https://github.com/rollbar/pyrollbar/pull/106 fixes this issue.

[2016-03-25 16:07] zgoda-mobica commented on #105
PR https://github.com/rollbar/pyrollbar/pull/106 fixes this issue because Treq depends on service_identity.

[2016-03-28 15:48] Crisfole commented on #103
Hey Ben, we're looking into this! Thanks for letting us know.

[2016-03-28 19:32] ezarowny commented on #103
Working on a PR here: https://github.com/rollbar/pyrollbar/pull/108

[2016-03-28 21:17] ezarowny commented on #103
Closed in #108

[2016-03-28 21:17] #103 closed

[2016-03-28 21:29] ezarowny commented on #103
Released on PyPI.

[2016-03-31 18:47] ezarowny commented on #104
Confirmed reproducible infinite loop.

[2016-04-18 18:31] ezarowny commented on #104
Addressed in #109

[2016-04-18 18:31] #104 closed

[2016-04-18 18:31] ezarowny commented on #105
Addressed in #109

[2016-04-18 18:31] #105 closed

[2016-05-11 18:55] dlsteuer commented on #79
Duplicate of #72

[2016-05-11 18:55] #79 closed

[2016-05-11 19:07] dlsteuer commented on #72
Fixed and released in 0.10.1, please upgrade if you are still having issues.

[2016-05-11 19:07] #72 closed

[2016-06-15 21:08] jessewgibbs opened #115 "Issue for Zapier"
Hello world

[2016-06-24 00:50] #115 closed

[2016-07-06 22:04] port8080 opened #119 "log arguments not displayed properly on web ui"
Dup of https://github.com/rollbar/pyrollbar/issues/58

@coryvirok: do you have an ETA for the fix on the UI or suggestions for workarounds?

[2016-07-09 11:22] kivsiak opened #120 "asyncio support"
I have an aiohttp app. But the generic transport is a requests which is blocking by default.
Is there any way to use http://aiohttp.readthedocs.io/en/stable/client.html? It's api is inspired by requests.

[2016-07-28 08:52] tremby commented on #21
Sorry to dig up such an old issue, but I'm not having luck with this.

I was using the middleware but realized I'd like to send any warnings and above which are logged via `logger.warning()` etc to Rollbar as well as uncaught exceptions. That way I can handle unexpected cases so the user doesn't get an error page, but still be notified about them. What's suggested here seemed like a good solution.

[2016-08-02 08:46] tremby commented on #21
I figured out my issue.

First, I was right that if you set up a log handler like this you *do not* need to use the middleware. I didn't try enabling both, but I would assume an uncaught exception would then be logged twice.

The name of the logger matters. With my above configuration I have configured the `'django'` logger to log to console, file, and Rollbar. But I was instantiating a logger wit

[2016-08-02 16:26] ezarowny commented on #21
Ah cool, thanks for reporting your findings @tremby!

[2016-08-12 20:32] atbaker opened #123 "Log Django 404s using a separate middleware that hooks in to process_response"
Howdy,

First - thanks for supporting and maintaining this library. Overall, Rollbar has worked out well for our Django site.

We're having trouble accurately reporting 404s, however. We're using [Wagtail](http://wagtail.io/), a Django-based CMS. Wagtail has a `redirects` middleware which is almost identical to [Django's contrib redirects](https://docs.djangoproject.com/en/1.10/ref/contrib/redirec

[2016-08-16 18:28] tremby opened #125 "Logging handler doesn't correctly format error message"
I'm using the Rollbar `logging` framework handler. I noticed that I'm getting a lot of warnings logged from my Django project with the message "Not Found: %s". On looking at the referenced line of Django source, I see that it is

[code]

On looking at the [logging docs](https://docs.python.org/3/library/logging.html#logging.debug), I see that that second argument is supposed to be merged in to the

[2016-08-17 22:41] arthurio opened #126 "[Django] Can't have model classes as whitelisted_types in settings.py"
Because the `whitelisted_types` is expected to be a list of `Type`s, we currently can't have model classes whitelisted in Django. The configuration is in `settings.py` and at this point it's not possible to import model classes.

My current solution is to list them as strings and have a singleton class that when instantiated will read those strings and convert them to types before calling the `rol

[2016-08-23 09:51] franciscoruiz commented on #125
Not sure what the rational is, but it's an explicit decision. See https://github.com/rollbar/pyrollbar/blob/master/rollbar/logger.py#L81

[2016-08-23 17:38] tremby commented on #125
Interesting. Maybe so that error messages are grouped more? This doesn't seem useful to me, though. "Not found: /login" would be a lot more worrisome than "Not found: /wp-admin"! Hopefully a maintainer will comment.

[2016-08-23 17:43] ezarowny commented on #125
Sorry for the delay there. Some of us were at a conference last week. Taking a look a this today.

[2016-08-23 17:44] ezarowny commented on #123
Hey @atbaker, we're actually looking at reworking our Django middleware a bit this week. I'll get back to you once we do that.

[2016-08-23 17:46] ezarowny commented on #126
Sorry for the delay there. Some of us were at a conference last week. Taking a look a this today.

[2016-08-23 18:09] coryvirok commented on #125
I believe the rationale behind this was that doing it this way, (using the format string and not the format**ted** string) causes these log messages to be grouped together in Rollbar. If we used the formatted string all of these log messages would not necessarily be grouped together. More info in this commit message - https://github.com/rollbar/pyrollbar/commit/306fd88cae04bef3c0f84ad4ca84e0a4b78f

[2016-08-23 18:18] tremby commented on #125
I agree that in certain cases having the errors grouped would be useful, especially where the error message contains something which is different for every single error (a datestamp maybe, or some invalid user input), and they are really all the same issue. But in some cases the same format string could appear for things which are really totally different issues and I'd much rather they were group

[2016-08-23 18:24] ezarowny commented on #126
@arthurio, we're going to add supporting type names as a feature request to pyrollbar. I'll be filing a story internally for us to work on this. If you want to take a crack at it yourself though, let me know. Cheers!

[2016-08-23 18:37] arthurio commented on #126
@ezarowny Thanks for the update! I probably won't have time to work on it in the coming weeks but will let you know if I do. Feel free to reach out if you have questions.
Cheers

[2016-08-23 18:45] ezarowny commented on #120
It could probably be added as a handler. What version of Python are you using?

[2016-08-23 19:38] kivsiak commented on #120
Python 3.5.2

[2016-08-28 14:43] twschiller opened #127 "Support new Django 1.10 middleware API"
Django 1.10 introduced a new middleware API: https://docs.djangoproject.com/en/1.10/topics/http/middleware/

`MIDDLEWARE_CLASSES` is deprecated in favor of `MIDDLEWARE`.

Instructions for upgrading the middleware are at:
https://docs.djangoproject.com/en/1.10/topics/http/middleware/#upgrading-pre-django-1-10-style-middleware

The Travis CI configuration is already testing vs. Django 1.10. However,

[2016-08-29 16:18] ezarowny commented on #127
We're already working on this and I'm hoping to have it out early this week.

[2016-08-29 21:44] ezarowny commented on #120
I can internally file this as a feature request for pyrollbar if you'd like (or you can take a crack at it!).

[2016-09-07 23:15] ezarowny commented on #127
Sorry for the delay! It's still coming.

[2016-09-08 13:44] twschiller commented on #127
Thanks, there's no rush since Django 1.10 still supports the old API and many other middlewares haven't updated yet.

I don't have a deep understanding of Django's error model. However, there's a couple complications I see in the new API:
- Rollbar probably has to be the first MIDDLEWARE because other middlewares can short-circuit:  "If a middleware short-circuits, only that middleware and the one

[2016-09-09 14:47] homm opened #129 "Dozens of errors per second in tornado handler"
We used rollbar with default threaded handler for tornado application for a long while and recently have switched to tornado handler and faced with the following error after some time (2-3 days). Server logs were full of errors with frequency several dozens per second. The application eats about 5-6 Gigs of memory:

[code]

We are handling errors via logging errors:

[code]

python==2.7.6
tornado=

[2016-09-09 17:15] coryvirok commented on #129
Hello @homm,

I haven't tested this but I think the problem might be that we aren't checking for an error when we call `fetch()` and Tornado is making sure that we aren't just swallowing exceptions. Here's the code in Tornado that appears to be checking if we have checked for the presence of an exception and throwing this error in the case where we don't check: http://www.tornadoweb.org/en/stable/

[2016-09-14 22:59] ezarowny commented on #127
I'm thinking we'll have to provide two middleware classes going forwards. Django provides a nice mixin to basically backport old middleware to the new style but you have to be on Django 1.10 to actually use it.

[2016-09-14 23:01] ezarowny commented on #123
I'm going to file an internal ticket for us to add a 404-capture middleware (or add it to the existing middlware).

[2016-09-15 23:12] twschiller commented on #127
Right, I've seen other projects adopt the mixin. I'm not sure it addresses the two issues I raised in my last comment, though. As an alternative to having two middleware classes, you might be able to do one of the following with a little Python hackery:

- Dynamically mixin the class, if the mixin is available (because the user has Django 1.10 installed)
- Create a dummy mixin that provides nothin

[2016-09-15 23:15] ezarowny commented on #127
That's basically what I was getting at. We'll probably do some kind of dynamic mixin.

[2016-09-20 00:49] MazMachine opened #134 "Exception in message logging kills application thread until reboot."
# Summary
We encountered a UnicodeDecodeError when the logger was interpolating a message. The corrupted message was stored in thread-local memory. Therefore every subsequent request to that thread that triggered a logging call would attempt to read that corrupted message and raise the same exception, effectivly taking down the application until manually rebooted.

## Details

### Steps
1. A logge

[2016-09-20 18:48] ezarowny commented on #134
Good find! We'll take a look at this.

[2016-09-20 20:46] ezarowny commented on #134
I might need a little more information or a sample function.

Using the following function, with `string_to_log` coming right from the Django URL dispatcher doesn't seem to cut it:
[code]

[2016-09-20 22:51] MazMachine commented on #134
I actually have not yet been able to track the source of the ```UnicodeDecodeError``` itself yet. My current theory is that we are logging the user_agent from a request and that has unicode characters that go through our log formatter.

The ```UnicodeDecodeError``` is not necessarily the problem with rollbar though. The problem I believe is that rollbar saves records to the ```_history``` regardle

[2016-09-21 22:41] ezarowny commented on #134
I'm not quite sure how to get `some_string % (unicode_str, unicode_str)` to throw a decode error as an implicit conversion is done for you.

[2016-09-21 22:54] ezarowny commented on #134
A better example:

[code]

[2016-09-21 22:59] ezarowny commented on #134
Replicated:

[code]

[2016-09-21 23:26] MazMachine commented on #134
Nice!
In the meantime, I have disabled the history in the handler so we do not have the same error propagation problems.

[2016-09-22 01:04] coryvirok commented on #134
I think we should probably also store the formatted value in the history list instead of the record itself. That will likely result in cleaner code.

[2016-09-22 21:41] ezarowny commented on #134
@MazMachine PR up at #135

[2016-09-22 22:48] ezarowny commented on #134
Should be solved with #135.

[2016-09-22 22:48] #134 closed

[2016-09-22 23:25] MazMachine commented on #134
Awesome! Thanks @ezarowny

[2016-10-19 05:50] Soliah commented on #127
Is there a workaround for this in the meantime? We're currently blocked as we have some middleware requiring the new API.

[2016-10-19 17:43] ezarowny commented on #127
The workaround would be to keep the Rollbar middleware in `MIDDLEWARE_CLASSES` until the middleware is updated to be dynamic.

I'm going to try to get to this near the end of this week or the beginning of next.

[2016-10-19 22:15] Soliah commented on #127
@ezarowny from what I can tell Django ignores `MIDLEWARE_CLASSES` if you have things in `MIDDLEWARE` so that doesn't work for us.

[2016-10-26 17:51] ezarowny commented on #127
PR up at #138

[2016-10-26 21:51] ezarowny commented on #127
0.13.7 has been released on PyPI. Let me know how that works for you guys.

[2016-10-26 21:51] #127 closed

[2016-10-27 21:33] wli opened #140 "rollbar 0.13.7 incompatible with Django 1.9.x"
Original issue: https://github.com/rollbar/pyrollbar/issues/127
PR that introduced the incompatibility: https://github.com/rollbar/pyrollbar/pull/138

I suspect the line just needs to be changed from `from utils import MiddlewareMixin` to `from .utils import MiddlewareMixin`

[code]

[2016-10-27 21:34] wli commented on #127
@ezarowny FYI I think there might be a regression: https://github.com/rollbar/pyrollbar/issues/140

[2016-10-27 21:37] ezarowny commented on #140
Ah, my bad. I will fix this momentarily.

[2016-10-27 21:51] ezarowny commented on #140
#140 is up now

[2016-10-27 21:55] ezarowny commented on #140
Yup! Testing #141 now.

[2016-10-27 21:56] ezarowny commented on #127
Yup! Testing #141 now.

[2016-10-27 22:06] ezarowny commented on #140
Alright, v0.13.8 is up on PyPI! Sorry about that bug!

[2016-10-27 22:06] #140 closed

[2016-10-31 07:02] Soliah opened #142 "Prevent sensitive information being sent to rollbar"
Seems like this behaves very differently from the Rubygem in what data it sends to Rollbar. I'm noticing that all request headers are sent, including potentially sensitive things like the `Authorization` header.

Is there a way to stop this from being sent like the Rubygems version?

[2016-11-01 18:31] ezarowny commented on #142
Hey @Soliah I'm pretty sure we do allow for request header scrubbing. I'll take a look.

[2016-11-01 18:36] ezarowny commented on #142
Can you try adding a header with the name `Authentication`? It's likely we just don't have `Authorization` in the default list. You could easily add it in your config file.

[2016-11-01 23:14] Soliah commented on #142
Ah I should've RTFM, thanks.

[2016-11-01 23:14] #142 closed

[2016-11-03 03:58] srikiraju opened #143 "Message formatting"
Is there any reason why message formatting isn't done when emitting exception type messages
In `logger.py`, `emit` method:
[code]
This is fine for "message" type events, but for "exception" type events, we can use the full message - record.getMessage(), because the merging algorithm doesn't rely on that string.

[2016-11-04 21:50] srikiraju commented on #143
Just saw that this was raised earlier in #125

[2016-11-04 21:52] srikiraju commented on #125
AFAIK, in cases where there is an traceback, rollbar will merge based on information from that. It should be safe to use `record.getMessage()` in that case. In the case without `exc_info`, merging occurs based on this message, so we can keep the behaviour the same there.

[2016-11-04 21:54] ezarowny commented on #143
Ah cool, I'll close this one and we can continue the discussion in there! 👍

[2016-11-04 21:54] #143 closed

[2016-11-11 15:49] smason opened #145 ""Rollbar already initialized. Ignoring re-init." for test cases involving Client()"
I'm just getting going on testing my Django code and I'm getting lots of:
[code]
messages—almost one for every test that involves a `Client()`, but seems to be less sometimes.

Pretty sure this doesn't relate to #100 as I'm not calling `rollbar.init()` anywhere.  A `grep` for rollbar only shows appropriate looking `import`s and calls to `rollbar.report_message`.

In case it matters, I'm using Djan

[2016-11-14 18:28] ezarowny commented on #125
Ah, ok I see what you mean. The problem here is that Rollbar doesn't update the Item description if an Occurrence comes in with a different description. Knowing this, I think it might be misleading to use the formatted message in the description. A user might mistakenly believe that all Occurrences of an Item representing a Exception would have similar data.

[2016-11-16 21:03] ezarowny opened #146 "pyramid integration not correctly parsing boolean settings"
If you have boolean settings values in a paste config file, they will not be turned into booleans when parsing. For example, given the following config:

[code]

rollbar.SETTINGS will end up containing `'false'` instead of `False` for the above values.

[2016-11-16 22:15] ezarowny commented on #146
Partial solution:

[code]

Unfortunately, this will only cover top-level items. It doesn't seem like you'd be able to nest settings in paste configs though?

[2016-11-17 18:28] ezarowny commented on #145
Interesting! Is this causing any problems for you right now?

[2016-11-18 12:42] smason commented on #145
@ezarowny Yes, currently doing this every time I run my tests.  Somewhat annoying, but not a show-stopper

[2016-11-18 16:35] smason commented on #145
Have just tried putting a stack dump in and it seems to always come out with a similar dump.  I'll annotate as I understand it:
[code]
the above are the final couple of calls setting up my `django.test.TestCase`, there are quite a few lines before it but am assuming they are of little interest:
[code]
OK, my code is being run and this line is instantiating a new `Client`, i.e. from `django.test.Cl

[2016-11-23 03:29] nornagon opened #148 "Reporting an exception whose __str__ throws an exception fails"
To reproduce:

[code]

The exception never makes it to Rollbar, and gets lost in the log noise.

Relevant part of the traceback:

[code]

Using pyrollbar 0.13.8.

[2016-11-23 18:59] jasonm commented on #123
@ezarowny Howdy!  Is there anything we could do or contribute to help out?

@atbaker Did you end up writing any workarounds for this?  Thanks for the reference to the Sentry approach.

[2016-11-25 06:15] ezarowny commented on #145
Does this happen if you disable the Rollbar middleware via settings?

[2016-11-28 18:34] ezarowny commented on #123
@jasonm of course - we always welcome pull requests!

It should be possible to change the order in which Django middleware executes. However, I believe the execution order has slightly changed since 1.10.

[2016-11-28 18:36] ezarowny commented on #148
Hey @nornagon thanks for reporting this - it's quite interesting!

[2016-11-28 21:44] ezarowny commented on #148
Ah, I think the solution here is to put a detailed string in place of the message here. Maybe something along the lines of https://github.com/rollbar/pyrollbar/blob/master/rollbar/lib/__init__.py#L196-L198.

[2016-11-29 08:52] smason commented on #145
@ezarowny, Yes.

Is it expected that one should remove Rollbar from middleware when doing tests?  I've not noticed anything in the docs to that effect, but is certainly easy to do.

[2016-11-29 12:17] smason commented on #145
Assuming that my expectation is correct, I have just found `django.test.modify_settings` which seems very useful for this sort of thing.  I've created some base classes (as it doesn't seem to play with Mixins) like:
[code]
and similar for the `LiveServerTestCase`, then derive all my tests from these classes instead.  Hope this is useful for others!

[2016-11-30 20:24] jasonm commented on #123
@ezarowny @atbaker Something along these lines?  I'll give this a spin in our app.

https://gist.github.com/jasonm/29c34915c0100c13082d3ab9c9bec170

[2016-12-02 00:27] ezarowny commented on #123
That's a pretty good idea! I'd probably want to add a configurable blacklist or whitelist as well.

[2016-12-02 23:12] ezarowny commented on #145
I'm not sure if it's expected that one should do that. I'll think on it and discuss with some other Rollbar engineers. Generally, one does not want external services being hit during unit tests though.

For what it's worth, I've removed the Rollbar Django middleware before. I had settings_test.py that inherited from settings.py.

[2016-12-06 19:04] jasonm commented on #123
FWIW what I found is that, similar to [`Sentry404CatchMiddleware`](https://github.com/getsentry/raven-django/blob/f9065d60b579046ace266741a2f1e0e1d55c4f38/raven_django/middleware/__init__.py#L27) I had to have the 404-catching middleware implement `process_response` and look for an HTTP response with `status_code == 404` instead of implementing `process_exception`.

The [`process_exception` approa

[2016-12-06 19:05] jasonm commented on #123
FWIW this `wagtailredirects` module is very similar (largely duplicative) of a builtin [Django contrib app named `redirects`](https://docs.djangoproject.com/en/1.10/ref/contrib/redirects/) so a separable 404 processing middleware would be useful to more than just wagtail users.

[2016-12-20 18:13] #1 closed

[2017-01-10 12:56] dchudz opened #151 "rollbar obscures source exception in `raise ... from ...`"
Python's `raise ... from ...` syntax allows reraising a different without obscuring the original exception:

As an example:

[code]

However, it seems like Rollbar doesn't display the source exception traceback at all. This makes debugging harder.

(I don't know enough about how Rollbar works to know for sure if this is a client issue, but figured I'd report it here.)

Thanks!

[2017-01-10 17:32] stclairdaniel commented on #151
That's a very interesting issue. I'll make sure we take a look into it - thanks for the feedback!

[2017-02-15 22:20] rokob opened #154 "Support recording deployments via pyrollbar"
Notifiers in other libraries support this so it should be included in this library. The basic idea is to have a library function that makes reporting to this API easy: https://rollbar.com/docs/api/deploys/#record-create-a-deploy

[2017-02-15 22:39] rokob opened #155 "Support printing rather than reporting errors via a configuration setting"
It should be easy to work with a Python project in development and testing environments with Rollbar providing useful information but not logging data to the servers. This should be configurable in the settings and support both direct API calls (`report_message`) as well as `report_exc_info`

[2017-02-16 13:49] PabloLefort opened #156 "Question: delete process response from Django"
Hi! Reading the middleware for Django i see this:
[code]

What is the purpose of that?
It could be removed?

Thanks!

[2017-02-16 17:54] ezarowny commented on #156
Considering it's been that way for a while now, I imagine it has to do with the behavior difference between `MIDDLEWARE` and `MIDDLEWARE_CLASSES` (see [here](https://docs.djangoproject.com/en/1.10/topics/http/middleware/#upgrading-pre-django-1-10-style-middleware)). It is also possible that the `process_response` block could be removed though. You could always give it a shot!

[2017-02-16 18:12] PabloLefort commented on #156
All rigth @ezarowny ! I'ts for backwards compatibility. But, i'll test on an old version, just for fun.
If success.. PR on the way.

Thanks

[2017-02-25 06:57] simlu opened #157 "How to pass in our own request information?"
So we want to submit custom information as request information when submitting a message. How would we best do this? Generate an artificial request object? Or is there a way we could pass a dictionary?

In particular I'm talking about the report_message function here https://github.com/rollbar/pyrollbar/blob/master/rollbar/__init__.py#L359

Background: We use flask, but since we are behind several

[2017-02-25 07:35] rokob commented on #157
The easiest way is probably to use the payload_data parameter. This takes a dictionary which it merges with the final payload. If the request object is nil, there will be no request key in the payload dictionary, so setting `payload_data = {"request": {...}}` will not overwrite anything and will end up populating the resulting request values on the backend.

The various request types are treated d

[2017-02-27 21:56] lukas-gitl commented on #157
That was great input!

This helped a lot as well: https://rollbar.com/docs/api/items_post/

Thank you. This can be closed now!

[2017-03-03 09:47] anthonylau opened #158 "scrapy & pyrollbar integration issue 'cannot deepcopy this pattern object'"
I want to use rollbar in my scrapy project, but seems rollbar unable to serialize scrapy's object.
Does anyone know if there is a better way to integrate?

How I integrate scrapy & pyrollbar, in spider's `__init__`
[code]

Versions
[code]

Trace
[code]

[2017-03-11 19:11] BossGrand commented on #21
Is it possible to set the user that triggered the log using this?

[2017-03-13 18:41] BossGrand opened #159 "All report_exc_info are being reported as 'production' reguardless of what is in init"
I have this simple test in one of my files and my errors are being filed under 'production' reguardless of what go into the init

     import rollbar
     rollbar.init(settings.ROLLBAR_KEY, 'development')

     try:
         raise Exception('simple test')

    except Exception as e:
         rollbar.report_exc_info()

[2017-03-13 18:52] ezarowny commented on #159
I cannot replicate this. It's working as intended for me.

[code]

[2017-03-13 18:58] ezarowny commented on #159
Have you called init anywhere before this? Maybe in the initialization of your shell (via your web framework)?

[2017-03-13 19:06] BossGrand commented on #159
That is probably what is happening, I'm getting a message in my console
that roll bar has already been initialized and that it is ignoring.

Thank you for the insight you can probably close this I'll post my findings
if there are any

On Mar 13, 2017 11:58 AM, "Eric Zarowny" <notifications@github.com> wrote:

[2017-03-14 00:34] BossGrand commented on #159
@ezarowny, ok it was related to my log handler

        'rollbar': {
            'access_token': ROLLBAR_KEY,
            'environment': 'production',
            'class': 'rollbar.logger.RollbarHandler'
        },

this was already initializing rollbar to have the environment of "production", so my other inits were ignored

[2017-03-14 00:34] #159 closed

[2017-03-15 17:32] #157 closed

[2017-03-31 10:04] mikeengland commented on #58
I am also experiencing this issue. The main dashboards/items are just showing things like `#196 AttributeError: Internal Server Error: %s`, however we need to see the actual args that are attached to this error instead of just '%s'.

[2017-03-31 10:04] mikeengland commented on #119
I'd also like to see a fix for this ASAP!

[2017-03-31 16:45] rokob opened #160 "Scrub fields should be a suffix match"
See the discussion on https://github.com/rollbar/pyrollbar/pull/149 for how the scrubbing code can be improved. This issue is so this idea doesn't get lost in the mix.

[2017-04-20 20:08] jessewgibbs opened #161 "Pyramid: Add`authenticated_userid` to search of request to automatically enable people tracking"
From an inquiry sent to Rollbar support:

[2017-04-20 21:54] ezarowny commented on #161
We'd probably just need to add it to https://github.com/rollbar/pyrollbar/blob/master/rollbar/__init__.py#L691.

[2017-04-27 12:55] danidee10 commented on #145
Just thought i should drop this here. The warnings don't appear in `Django==1.11`.

I think it has to do with suppressing Deprecation warnings in this release https://docs.djangoproject.com/en/1.11/releases/1.11/#deprecating-warnings-are-no-longer-loud-by-default

I'm not so sure because the docs say `DeprecationWarning` not all/third-party warnings. but at least you don't get to see those warning

[2017-05-02 14:51] gdoermann opened #163 "Twisted should not install log handler automatically"
Rollbar automatically installs the log observer for twisted upon import.  This is a massive issue if you never initialize rollbar or if the initialization fails. The log observer should be added *after* you call `rollbar.init(handler='twisted', **settings.ROLLBAR)` so that you can verify it will work before sending messages to the observer.  If you do not initialize rollbar the observer will recei

[2017-05-02 17:02] ezarowny commented on #163
Ah, nice find! Thanks!

[2017-05-26 20:51] ezarowny commented on #161
Testing this on my development machine returns `23|1605f03f8f2044cfb4a54b7fe2ed6fcb`. My user's id is 23 so we can probably just split on the pipe symbol here.

[2017-05-26 20:53] brianr commented on #161
@ezarowny I think in stock pyramid, authenticated_userid would just return the actual user id (e.g. `23`).

[2017-05-26 20:57] ezarowny commented on #156
@PabloLefort what did you end up finding out? Can I close this issue?

[2017-05-26 23:38] vrtual commented on #161
Depends what you're using for a userid, see pyramid.security.remember
http://docs.pylonsproject.org/projects/pyramid/en/latest/api/security.html

I use an email address, so when I ask for authenticated_userid I get the email addr I stored with
headers = remember(request, userEmail)

So you'd probably have to return the whole thing, and let the end user work it out depending on what they're using f

[2017-05-28 00:33] PabloLefort commented on #156
@ezarowny lets close it, i'll try something on this days. You will see a PR if goes well.

Thanks! :rocket:

[2017-05-30 17:06] #156 closed

[2017-06-05 07:01] amajeed-dinCloud opened #167 "Rollbar not working on aws lambda."
I am trying to use rollbar with aws lambda. I am getting following error.

[1496632728018] [ERROR] 2017-06-05T03:18:47.999Z b08c5791-499d-11e7-9821-6fdd89621437 Exception while posting item ConnectionError(MaxRetryError("HTTPSConnectionPool(host='api.rollbar.com', port=443): Max retries exceeded with url: /api/1/item/ (Caused by NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTT

[2017-06-05 22:14] ezarowny commented on #167
Are you still having this issue?

[2017-06-06 04:24] amajeed-dinCloud commented on #167
Exceptions are being logged now but it takes more time then usual (compare to local environment). What was the cause of it??

[2017-06-06 17:35] ezarowny commented on #167
We had some API issues yesterday. You can check http://status.rollbar.com/ for some details.

[2017-06-06 17:35] #167 closed

[2017-06-07 04:02] amajeed-dinCloud commented on #167
Thank you.

[2017-06-09 23:58] coryvirok commented on #158
I think I see what's wrong here. It looks like our `dict_merge()` implementation doesn't gracefully handle copying things which cannot be copied. I'm honestly surprised I haven't seen this come up yet. I think the correct-ish solution is to add in a new label for things which cannot be copied like we have for [un-encodable objects](https://github.com/rollbar/pyrollbar/blob/master/rollbar/lib/__ini

[2017-06-09 23:59] coryvirok commented on #5
Closing this since it's so old and there haven't been any updates in a few years. Please reopen as necessary.

[2017-06-09 23:59] #5 closed

[2017-06-12 23:19] coryvirok commented on #148
Ya, we will need to add in exception handlers to these serialize methods - https://github.com/rollbar/pyrollbar/blob/master/rollbar/lib/transforms/serializable.py#L41

[2017-06-12 23:19] coryvirok commented on #146
@ezarowny can this be closed?

[2017-06-12 23:26] coryvirok commented on #119
Sorry for the delay. I've added an internal story to track this. We will update here once it's released.

[2017-06-12 23:28] coryvirok commented on #90
Not sure if this is still happening but I've tagged it as a bug so we can at least test.

[2017-06-12 23:29] #80 closed

[2017-06-13 00:00] ezarowny commented on #146
Yeah, I'll update the docs for nested config items.

[2017-06-13 00:00] #146 closed

[2017-06-16 16:38] ezarowny commented on #163
I'll take a crack at this.

[2017-06-16 20:02] rokob commented on #163
Why does sending messages to the observer that is uninitialized cause problems? Shouldn't that just be a no-op?

[2017-06-17 16:58] gdoermann commented on #163
We were having issues with twisted freezing when using rollbar client (in twisted mode). At first we just stopped initializing rollbar but it did not fix it because twisted was running so the rollbar observer was running and throwing a lot of errors saying we needed to initialize before trying to send.

Sent from my iPhone

[2017-06-20 17:14] ezarowny commented on #163
Could you give #171 a try for me?

[2017-06-20 17:37] ezarowny opened #172 "Infinite loop in Twisted handler"
Certain types of network errors will cause pyrollbar to get into a loop when using the Twisted handler. One such type of network error is to point pyrollbar's endpoint somewhere with an invalid or self-signed certificate.

Basically, our treq network call reports an error into Twisted logging system that doesn't get recognized as an internal error.  As a result, the observer ends up calling report

[2017-06-23 19:22] sabw8217 opened #175 "Django request body can include sensitive data"
Post requests can include sensitive data in the request body. Sensitive POST params can be scrubbed from the request.POST attributes but not from the request body itself.

I think this works for other frameworks (werkzeug, bottle) because the body is only included if it's JSON and can then be scrubbed, but the django body is just a string.

[2017-06-23 19:23] sabw8217 commented on #175
Simplest possible fix is here:
https://github.com/rollbar/pyrollbar/pull/174

[2017-06-26 22:34] ezarowny commented on #175
Hey @sabw8217, thanks for contributing! I've thought about this before and something like your approach is probably a good idea. I'll take a further look soon.

[2017-06-27 00:44] sabw8217 commented on #175
I tried to figure out if there was something cleverer to do here than just remove the body, but almost anything reasonable is going to be in `dict(request.POST)` anyhow.

[2017-06-28 05:51] ekampf commented on #120
👍

[2017-07-03 17:07] ezarowny commented on #175
I've merged #174 and I'll make a release soon. We can always add request.body back later if someone really needs it by decoding the byte string and loading it as JSON. We'd be able to scrub the body then.

[2017-07-12 18:45] sabw8217 commented on #175
Thanks @ezarowny !

[2017-07-21 13:05] pmatos opened #177 "Flask throws `working outside request context`"
I have a command line Python app which doesn't use Flask or any other web framework, however I still manage to see (with rollbar `0.13.11`):
[code]

This is what I have:
[code]

[2017-07-21 13:08] pmatos commented on #177
Same with `0.13.12`:
[code]

[2017-07-21 19:02] coryvirok commented on #177
Interesting. I think what is happening is that Rollbar is detecting that you have Flask installed and is attempting to use the Flask integration. Can you verify that Flask is installed in the virtualenv you're using?

The quick-n-dirty solution is to uninstall Flask if you're not using it.

[2017-08-03 12:12] #151 closed

[2017-08-04 14:32] #14 closed

[2017-08-07 23:33] jessewgibbs opened #179 "Multiple simultaneous errors cause application to freeze with pyrollbar"
Details in https://app.clubhouse.io/rollbar/story/16969/multiple-simultaneous-errors-cause-application-to-freeze-with-pyrollbar

[2017-08-07 23:35] jessewgibbs opened #180 "crash with django debugview"
Details in https://app.clubhouse.io/rollbar/story/730/pyrollbar-crash-with-django-debugview

[2017-08-07 23:52] jessewgibbs opened #181 "Hook into sys.excepthook for pyrollbar"
Details in https://app.clubhouse.io/rollbar/story/18802/hook-into-sys-excepthook-for-pyrollbar

[2017-08-07 23:59] jessewgibbs opened #182 "add native async transport to pyrollbar"
Details in https://app.clubhouse.io/rollbar/story/22730/add-native-async-transport-to-pyrollbar

[2017-08-08 17:14] jessewgibbs opened #183 "provide hook to modify payload before sending"
details in https://app.clubhouse.io/rollbar/story/9481/pyrollbar-provide-hook-to-modify-payload-before-sending

[2017-08-08 17:16] jessewgibbs opened #184 "Flask: gather route name as 'context'"
details in https://app.clubhouse.io/rollbar/story/3828/flask-gather-route-name-as-context

[2017-08-08 17:26] jessewgibbs opened #185 "Clean up Pyramid event handlers"
details in https://app.clubhouse.io/rollbar/story/1201/clean-up-pyramid-event-handlers

[2017-08-08 17:59] jessewgibbs opened #186 "Django Rest Framework POST params"
Details in https://app.clubhouse.io/rollbar/story/4586

[2017-08-08 18:04] jessewgibbs opened #187 "Scrub params in request.body"
details in https://app.clubhouse.io/rollbar/story/18089

[2017-08-08 18:08] jessewgibbs opened #188 "consider using django.VERSION to select version specific behavior"
details in https://app.clubhouse.io/rollbar/story/22772/

[2017-08-08 18:45] #185 closed

[2017-08-30 18:42] and-megan opened #190 "Option to add custom data to the request or with every reported payload"
Suggestion to add custom data to the request / with every reported payload (perhaps something similar to rollbar-gem's custom_data_function or rollbar.js's transform).

[2017-08-30 18:45] #190 closed

[2017-08-31 09:05] jtsoi commented on #183
We have the same issue.
Solved it this way for now:

[code]

A suggestion would be to put the hook on the rollbar module and not in the middleware.

[2017-09-06 19:38] rokob opened #192 "Add a method to wait on outstanding requests in separate threads"
The thread handler uses a separate thread per item being sent to Rollbar. There currently is no way to know when those requests have completed. For environments like AWS Lambda, it is useful to be able to wait on those outstanding requests before executing some other code. This functionality is present in the JS SDK.

[2017-09-08 18:51] #192 closed

[2017-09-13 17:53] levi-rs opened #193 "Cut a new release to PyPI with new AWS lambda_function code"
Rollbar announced support for AWS python lambda functions:
https://changelog.rollbar.com/support-for-python-on-aws-lambda-34007

However, the release currently on PyPI (0.13.12) is from July 3, and does not include the new `lambda_function` decorator that is used in the documentation example.

Could you possibly deploy a new minor version that includes the `lambda_function` decorator?

[2017-09-14 18:58] shulc46 opened #194 "s"
000

[2017-09-14 23:45] #194 closed

[2017-09-21 16:30] homm opened #195 "aiohttp request data support"
I have aiohttp app and `rollbar.logger.RollbarHandler` error handler. I don't see many useful information about requests in error reports, which I see for Tornado applications, for example. There are:

request.headers
request.method
request.url
request.GET
request.start_time
request.user_ip

This makes rollbar very limited with aiohttp applications.

[2017-09-21 16:53] simonpercivall opened #196 "Chained exceptions are not properly shown in Rollbar GUI"
Not clear to me why this is a `pyrollbar` issue, but was sent here by the support.

Rollbar exception reporting for chained exceptions should follow the method described in [PEP 3134](https://www.python.org/dev/peps/pep-3134/#enhanced-reporting), to describe the relationship between chained exceptions (i.e. cause and context).

Currently the exceptions are displayed without any clarification on _h

[2017-09-21 23:57] BrianPainter opened #197 "API error: Invalid format. data.request.POST string value found, but a object is required."
Getting this error on the rollbar side whenever an error is generated in my Django app. Have successfully sent a test error, and a couple of the errors do come through, but a majority of them give the error in the title. Installed with the middleware per the instructions on Django 1.9.13. Let me know what other information would be useful in debugging this.

[2017-09-22 00:06] rokob commented on #197
The only way I can see how this could be possible looking at the way the post data is set is that if something goes wrong in one of the transforms, probably the `SerializableTransform`, which results in some sort of fail-safe stringification of the dictionary. This is because `data.request.POST` is always set as `dict(some_object)` so it should end up as a JSON object.

Let me look into the transf

[2017-09-22 20:01] BrianPainter commented on #197
From what I can tell, it happens during the `ShortenerTransform`.

[2017-09-27 10:54] mikemanger opened #199 "Rollbar is raising errors when running Django permission tests"
I have some simple permission tests to make sure users can not access certain sections of the site. For example:

[code]

The tests run fine (logged out users can not access `list_view`) however I am getting `PermissionDenied` errors in rollbar. This is odd because the [test client shouldn't raise this exception](https://docs.djangoproject.com/en/1.11/topics/testing/tools/#exceptions).

[2017-09-27 13:54] ohmanger commented on #199
Not ideal but a work around is to disable Rollbar in a custom test settings file.

[2017-09-27 21:36] lukas-gitl commented on #197
We have the same issue and my co-worker will provide more details shortly. This appears to be a recent regression.

[2017-09-27 22:25] MacMcIrish commented on #197
What we've seen is that passing a dict with greater than 10 keys in the request.POST data, the 11th key and forward are truncated with a `...` but the entire string is wrapped in `{ }`.
[code]
Fails whereas
[code]
Succeeds.
Rolling back to `rollbar==0.13.12` fixes the issue.

[2017-09-27 22:29] rokob commented on #197
I am very strongly suspecting https://github.com/rollbar/pyrollbar/pull/176

[2017-10-03 22:34] ezarowny commented on #197
@rokob hmm, maybe? I don't think I changed anything involving mapping types though. The only real interesting line in that PR is https://github.com/rollbar/pyrollbar/pull/176/files#diff-6022e85ab93e5271b24f7f04696aa09aR58

[2017-10-04 12:32] inkmix opened #201 "API error: Invalid format. data.body.trace.frames is missing and it is required. data.body.trace.exception.class is missing and it is required."
We're getting this error since upgrading from `0.13.11` to `0.13.13`.
(this issue https://github.com/rollbar/pyrollbar/issues/197 looks similar)

We're using the django rollbar handler and not the middleware. This happens not for all but for some exceptions sent to rollbar.
I noticed that the `body` payload that is sent includes both `trace` and `trace_chain` but the rollbar documentation says, to

[2017-10-04 23:00] lukas-gitl commented on #197
@ezarowny If the issue was present before, then this line certainly "activated" it for us: https://github.com/rollbar/pyrollbar/pull/176/files#diff-1fcbac3a897889dbaf8984fdfe14c99cR316

[2017-10-04 23:27] rokob commented on #201
Hmm yeah definitely should not include both trace and trace_chain, will try to bisect between 0.13.11 and 0.13.13 to see if I can find out what this is.

[2017-10-04 23:34] ezarowny commented on #197
Yeah, it's likely that your dict objects just weren't getting shortened in the old version. Good find guys.

[2017-10-05 12:09] inkmix commented on #201
thank you @rokob :)

[2017-10-12 19:48] rokob opened #204 "Generate README from README.md via pandoc automatically"
https://github.com/rollbar/pyrollbar/pull/202 introduced the README in rst format for better rendering on PyPI. We should have an automated way of generating this file from the markdown readme to avoid maintaining two versions.

[2017-10-12 19:49] rokob commented on #193
0.13.13 is out

[2017-10-12 19:49] #193 closed

[2017-10-12 20:29] rokob commented on #201
0.13.15 is released with a change that should fix this

[2017-10-12 20:29] #201 closed

[2017-10-13 09:15] inkmix commented on #201
perfect, I'll try it out and let you know in case we experience further issues.

[2017-10-16 08:14] arthurio opened #206 "Releases 0.13.14 and 0.13.15 missing on pypi"
Could you publish the last 2 releases to pypi?

[2017-10-19 14:16] moodh opened #207 "Logging in celery outside of flask context?"
Hello, I got sent here by Rollbar support. We currently use rollbar in both flask (request context) and celery (worker context) and we get exceptions thrown by the rollbar package.

This is how we setup celery:
[code]

Running a log.warning() inside a celery task correctly logs the error to rollbar but it also floods our local logs with this exception:
[code]

It seems to try to load flask (since

[2017-10-19 17:21] rokob commented on #206
Done

[2017-10-19 17:21] #206 closed

[2017-10-19 22:45] arthurio commented on #206
Appreciate it :)

[2017-10-23 21:04] and-megan opened #208 "Don't add trace when there's a trace_chain"
https://github.com/rollbar/pyrollbar/blob/master/rollbar/logger.py#L119,L142

[2017-10-25 06:32] 31z4 opened #210 "Exception while reporting exc_info to Rollbar. TypeError("can't pickle select.epoll objects",)"
I'm using `rollbar==0.13.16` with `tornado==4.5.2` and getting the following exception:

[code]

It results in certain errors don't show up in Rollbar which is pretty bad 😞
It seems like not every `exc_info` is pickable and this situation should be handled properly. I suggest still reporting the error message, even without the exception info.

[2017-10-25 18:15] rokob commented on #210
I'm looking into the right place to fix this, will update here when I have something.

[2017-10-25 20:18] aardvark82 opened #212 "Re: Rollbar Python - The 'warn' method is deprecated, use 'warning' instead"
Hi - since including Rollbar, I get a warning of rolllbar using a deprecated method in my unit tests.

../usr/local/lib/python3.6/site-packages/rollbar/__init__.py:293: DeprecationWarning:The 'warn' method is deprecated, use 'warning' instead. ---------------------------------------------------------------------- Ran 18 tests in 21.919sOK
--

[2017-10-25 21:25] #210 closed

[2017-10-25 21:25] #208 closed

[2017-10-25 21:36] #212 closed

[2017-10-26 05:13] 31z4 commented on #210
Thanks for the swift response on that @rokob. I left a comment in the PR 🙂

[2017-10-26 05:21] 31z4 commented on #210
Also, could you please provide any ETA for releasing a version with the fix? Or it's safe to install from `master`?

[2017-10-26 05:42] rokob commented on #210
I will make a release tomorrow

[2017-10-27 05:58] rokob commented on #204
As a quick update, it turns out PyPI does not support the raw tag that Pandoc outputs for html that we include in our README. I had to manually change these in the rst file. Not sure what the right approach is going forward to automate this, but for now changes to the README needs to be done to both the md and rst files.

[2017-10-30 19:16] taylor-cedar opened #215 "SSL/TLS error in Django connecting to api.rollbar.com on exceptions"
This error happens for about 2 out of every 3 requests to send an exception to rollbar. It occasionally works, but mostly doesn't. The following stack trace is printed only occasionally. Sometimes it will fail with no exception stack trace.

[code]

Python 3.6.1
Django 1.11.1
uwsgi 2.0.14
requests 2.18.4
open-ssl 1.0.2k  26 Jan 2017
Docker Alpine Linux

Please let me know if I can provide more inf

[2017-10-30 19:21] taylor-cedar commented on #215
I am testing with the debug error view, so maybe related to this? https://github.com/rollbar/pyrollbar/issues/180 . Not sure because I can't see clubhouse.

[2017-10-30 21:06] and-megan opened #216 "Why are local variables not working?"
They're not showing up in the frames at all with this config:

ROLLBAR = {
    'access_token': ROLLBAR_ACCESS_TOKEN,
    'environment': CURRENT_ENVIRONMENT,
    'root': ROOT_DIR,
    'enabled': True if ROLLBAR_ACCESS_TOKEN else False,
    'locals': {
        'enabled': True,
        'safe_repr': False,
    }
}

pyrollbar 0.13.16

https://app.intercom.io/a/apps/rlisg82q/respond/inbox/813342/convers

[2017-11-02 14:48] benkuhn opened #217 "Regression in 0.13.17 when `payload_data` is supplied without `'body'`"
Hi--we recently had to downgrade to 0.13.16 due to a KeyError in [`__init__.py` line 630](https://github.com/rollbar/pyrollbar/blob/v0.13.17/rollbar/__init__.py#L630):

[code]

[2017-11-02 21:22] rokob commented on #216
There is some code to gracefully not blow up and still send the item if something goes wrong while adding the local variables. There is also code that performs transforms (scrubbing and shortening) of the local data. It is possible there is a bug in that transformation code or how it is configured, or there is something unique about these frames that we are not getting the locals out properly. Tha

[2017-11-06 17:36] adambyer opened #219 "Django/python logs don't show up when running app locally"
It works from JS, and python errors also show up. But my Django/python logging calls don't show up. However, everything works fine when running in production (on Heroku).

For example...
[code]

My local environment is virtually the same as prod with the usual differences... DEBUG = True, etc.

Here are my relevant settings...
[code]

[2017-11-10 08:23] inkmix commented on #201
FYI: we still had this issue with the 0.13.16 -- I haven't found enough time to properly reproduce it and report it back. we saw this

in release notes of 0.13.17. maybe that fixes it :) I'm going to try this in following days.

[2017-11-10 10:13] caulagi commented on #219
Is it because `require_debug_false` filter would apply for the development environment?

[2017-11-10 17:57] adambyer commented on #219
Well I feel silly. Yeah that's obviously it. I copied the config and didn't even realize. Thanks.

[2017-11-10 17:57] #219 closed

[2017-12-12 20:57] GabLeRoux opened #223 "Handle Rollbar API 50x errors, had a 502 Bad Gateway and didn't fail gracefully"
Hi there, I just introduced Rollbar to our team recently and as soon as I had the rollbar setup on our QA server, rollbar failed to deliver a payload and the exception was raised to django's exception handling.

Rollbar returned a 502 error (maybe this is an isolated case).

## Initial error
[code]

 I tried to reproduce this and actually wrote a test to demonstrate what actually happens in #224 :

[2017-12-12 22:54] coryvirok commented on #223
Hi @GabLeRoux,

Thanks for raising this. We are looking into it now.

[2017-12-19 05:55] 31z4 opened #226 "Incorrect _send_payload_tornado implementation"
The [`_send_payload_tornado `](https://github.com/rollbar/pyrollbar/blob/b46d08e47cf8fb23ff4db287e2a88282b1f8593a/rollbar/__init__.py#L1270) implementation is incorrect because `_post_api_tornado ` coroutine is called like a regular functions. The consequences are:

[2017-12-22 19:42] nfortenberry commented on #186
Are there any updates on this?  I've noticed there is a pull request that solves this that has been open since Dec 2015. https://github.com/rollbar/pyrollbar/pull/86

[2017-12-24 20:57] rivkahstandig3636 commented on #226
Thanks for letting us know @31z4!

[2017-12-24 21:01] #216 closed

[2017-12-24 21:03] rivkahstandig3636 commented on #215
Hi @taylor-cedar, Are you still having this issue? If so, what version of pyrollbar are you on?

[2017-12-24 21:07] rivkahstandig3636 commented on #207
This appears to be the same issue as #177

[2017-12-24 21:08] rivkahstandig3636 commented on #177
This is the same issue as #207. Since there hasn't been any activity on this issue since July, I'll close this one in favor of the new issue.

[2017-12-24 21:08] #177 closed

[2017-12-24 21:36] rivkahstandig3636 commented on #145
Looks like this was solved with #198

[2017-12-24 21:36] #145 closed

[2017-12-24 21:42] rivkahstandig3636 commented on #90
Closing as we have had no further reports of this or any response from suhaasprasad.

[2017-12-24 21:42] #90 closed

[2017-12-24 21:43] rivkahstandig3636 commented on #70
Closing as we have had no further reports of this in over 2 years.

[2017-12-24 21:43] #70 closed

[2018-01-05 01:43] ajtran opened #228 "Integrating Rollbar with AWS Lambda using Chalice"
[USER]:
I read your docs on Python integration, including the special handling for lambda functions. I am using AWS Chalice for my API, and was considering Rollbar for handling exception reporting. Any notes/pointers on how to integrate with this library? It's not obvious as Chalice does not expose the lambda entrypoint.

I can call init() with the blocking handler so any exceptions have time to b

[2018-01-10 18:30] staab opened #229 "Better Werkzeug Support"
I realize this is my fault for using Werkzeug in my application directly, so feel free to close this if first-class werkzeug support isn't a priority for rollbar.

It was pretty painful to get requests to get sent to rollbar when using werkzeug (to the point where I had to monkey-patch rollbar to get things working), so I thought I'd document here how I got it working.

The main problem was that I

[2018-01-11 14:48] rivkahstandig3636 commented on #229
Thanks for the feedback! @rokob What are your thoughts on this?

[2018-02-02 23:30] oliver-zhou opened #230 "Allow ignoring of python logging levels"
When using the rollbar middleware in Django, it seems all 'INFO' logging messages are recorded as events in rollbar, consuming events for items that were never meant to be events, but were meant to be debug type statements.

How can I control what level of python logging library events get logged by rollbar?

For example, how can I record 'WARNING', 'ERROR' level logging events, but ignore 'DEBUG'

[2018-02-03 00:26] oliver-zhou commented on #230
Oops, I figured it out.

Since its a Django logging setting, all I had to do was set level
[code]

[2018-02-03 00:27] rivkahstandig3636 commented on #230
Glad you were able to figure it out!

[2018-02-03 00:27] #230 closed

[2018-02-12 15:19] hwright commented on #217
@rokob Any chance of getting a release with this fix in it?

[2018-02-15 18:33] pembo13 opened #231 "Rollbar reinitializing when using LOGGING in Django"
I'm trying to use the LOGGING configuration method in Django+Celery and I'm having a couple issues, first of which is that Rollbar gets double initialized when using LOGGING, resulting in:

`WARNING:rollbar:Rollbar already initialized. Ignoring re-init.`

Really, I’m looking for a working example of using LOGGING in a project with Django and Celery such that I do not need MIDDLEWARE, and do not ge

[2018-02-15 18:48] pembo13 commented on #231
Sample `LOGGING`

`LOGGING = {
	'version': 1,
	'disable_existing_loggers': False,
	'filters': {
		'require_debug_false': {
			'()': 'django.utils.log.RequireDebugFalse',
		},
		'require_debug_true': {
			'()': 'django.utils.log.RequireDebugTrue',
		},
	},
	'handlers': {
		'console': {
			'level': 'INFO',
			'filters': ['require_debug_true'],
			'class': 'logging.StreamHandler',
		},
		'mail_admins

[2018-02-15 18:51] pembo13 commented on #231
Real application `LOGGING`

    LOGGING = {
        'disable_existing_loggers': False,
        'version': 1,

        'filters': {
            'require_debug_false': {
                '()': 'django.utils.log.RequireDebugFalse',
            },
            'require_debug_true': {
                '()': 'django.utils.log.RequireDebugTrue',
            },
        },

        'formatters': {

[2018-02-15 23:30] rokob commented on #228
There isn't a clear answer here. Reading the Chalice implementation, one thing you could do is monkey patch `__call__` (https://github.com/aws/chalice/blob/master/chalice/app.py#L575) on your app instance. Due to the magicness of `__call__` in Python, I think the following might work:

[code]

And from there you should be able to use the `app` like the rest of their docs say and get the same funct

[2018-02-17 02:43] #223 closed

[2018-02-20 17:31] MacMcIrish opened #232 ""See Release Notes""
Rollbar 0.13.18 changelog says "See Release Notes". At the time of creating this issue, there are no release notes for 0.13.18.

https://github.com/rollbar/pyrollbar/releases/tag/v0.13.18

[2018-02-20 18:38] rokob commented on #232
Yeah sorry doing that today

[2018-02-27 12:16] HappyTepid opened #233 "Django 2.0 - module 'django.views.debug' has no attribute 'TECHNICAL_500_TEMPLATE'"
Since upgrading my project to Django 2.0, the following error gets thrown when starting the server:

``ERROR:rollbar.contrib.django.middleware:Rollbar - unable to monkeypatch debugview to add 'View in Rollbar' link. To disable, set `ROLLBAR['patch_debugview'] = False` in settings.py. Exception was: AttributeError("module 'django.views.debug' has no attribute 'TECHNICAL_500_TEMPLATE'",)``

Errors s

[2018-02-27 17:22] brianr commented on #233
Thanks @HappyTepid for the report; looks like we need to update the feature that patches that template for django 2.0.

As a workaround, you can disable it via the config flag `patch_debugview`, e.g.:

[code]

[2018-02-28 16:19] rivkahstandig3636 commented on #186
Hi @nfortenberry, the latest release of this SDK addresses this issue. Closing the issue now.

[2018-02-28 16:19] #186 closed

[2018-02-28 16:22] #228 closed

[2018-02-28 16:23] #232 closed

[2018-02-28 16:30] dmulter commented on #228
:-(

[2018-03-08 07:55] veryuncommonname opened #234 "Incorrect handling rollbar.init() arguments when using LOGGER in Django."
Hello,

When using `rollbar==0.13.18` with `django==1.11.11` and passing rollbar via LOGGER, scrub_fields doesn't come as a list; it comes as `logging.config.ConvertingList`, so in the result dict_merge fall to make a copy of variable and return string `'<Uncopyable obj:...'` instead of a list.

I see here two possible solutions:

The first is to change dict_merge to correctly process types inheri

[2018-03-15 05:34] rivkahstandig3636 opened #236 "Support deploy tracking"

[2018-03-15 05:52] rivkahstandig3636 opened #237 "Truncate large payloads to ensure we don't drop them"

[2018-03-15 22:27] rokob commented on #23
I created a minimal Flask app with the same basic structure as the linked example, errors in views capture request info. I am going to guess this is something that has been since in the 4 years since this was created. The code for capturing request info for Flask looks reasonable and works in my test cases.

[2018-03-15 22:27] #23 closed

[2018-03-16 20:56] rokob commented on #30
A bigger issue here is that `blacklisted_local_types` still exists as a list in the code, but it is never used anywhere. It appears that the blacklist idea was converted into the idea of safe_repr which is basically a whitelist. The change that stopped using `blacklisted_local_types` was https://github.com/rollbar/pyrollbar/pull/75. So I'm going to close this issue by cleaning up the existence of

[2018-03-16 21:06] rokob commented on #56
This is pretty old and the code has moved on from when this question was asked. However, the question itself still doesn't make a lot of sense. The "failure" that happens at https://github.com/rollbar/pyrollbar/blob/e80b15161ba06bf01bc5e0d30e24f9836762a482/rollbar/__init__.py#L739 does not stop Rollbar from reporting the item. It only means that the particular frame will not have local variables a

[2018-03-16 21:06] #56 closed

[2018-03-21 23:08] kagaram-twilio opened #239 "consistent "connection aborted" exceptions"
We found over the weekend that a class of errors in our application has been consistently failing to notify Rollbar for several weeks. The only exception we get is "Connection aborted" and "broken pipe". It isn't an intermittent error due to network issues, it happens reliably and only for this one class of errors.

We are using Rollbar through the Python library, and we run on Google App Engine.

[2018-03-22 00:06] rokob commented on #239
For this error, you always get this failure? The log implies that the socket is closed when attempting to send this exception. There are two possibilities that I can think of at first glance.

1) we are using the requests library's session object (http://docs.python-requests.org/en/master/user/advanced/#session-objects) to get persistent connections, so possibly something is breaking with that ses

[2018-03-29 18:42] ajtran opened #240 "Log Rate Limit Once"
internal: https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/15470846452

User would like to have the rate limit log once rather than every time a 429 is responded. This way the log is less noisy.

[2018-04-04 15:05] rivkahstandig3636 opened #241 "Document how to set person data"

[2018-04-10 07:00] kagaram-twilio commented on #239
I was able to confirm that the payload is indeed too large.

[2018-04-10 07:00] #239 closed

[2018-04-11 17:45] oliver-zhou commented on #215
I'm still hitting this with rollbar==0.13.17

[2018-04-13 04:57] kagaram-twilio opened #242 "Feature request: setting to control inclusion of request in exception payload"
#239 was caused by the current request containing a large payload. On exceptions in such requests, rollbar.com isn't able to handle this payload. As a result, when things go wrong we get no alerts.

We patched this on our end by forcibly clearing `request.json`. Ideally we'd have a setting for this akin to the `locals={'enabled': False}` argument in `init()`.

[2018-04-18 14:50] rivkahstandig3636 commented on #242
Good idea!

[2018-04-20 07:50] mattbillenstein commented on #207
Hitting this same problem, but RuntimeError subclasses exception which seems to be caught here, so I'm not sure why this is raising for me.

[2018-04-20 08:07] mattbillenstein commented on #207
Ok, figured out this is a very subtle issue with requests getting imported before patching gevent...  yikes!

[2018-04-25 15:01] moodh commented on #207
Hi, after more testing I'm quite sure this is a bug rather than a question. We have no easy way other than running a local copy of the rollbar code to suppress these warnings. The problem occurs in `__init__.py` on line 63 to 66:

[code]

Replacing this section with a simple `WerkZeugRequest = None` suppresses the warnings and lets the celery part of our codebase work as intended, but of course th

[2018-04-25 16:51] rivkahstandig3636 commented on #231
We will take a look into this, sorry for the delay!

[2018-04-25 18:51] rivkahstandig3636 opened #243 "Telemetry support"
Similar to telemetry in rollbar.js.

This needs to include the config options for enabling/disabling telemetry and scrubbing telemetry data.

[2018-04-25 18:52] rivkahstandig3636 opened #244 "Support deploy tracking"

[2018-04-25 18:53] rivkahstandig3636 commented on #244
Whoops, this is a dupe, closing

[2018-04-25 18:53] #244 closed

[2018-04-25 18:54] rivkahstandig3636 opened #245 "Ability to transform payload"
Implement a transform function, similar to rollbar.js

[2018-04-25 18:56] rivkahstandig3636 opened #246 "Add support for using a proxy"

[2018-04-25 18:57] rivkahstandig3636 opened #247 "Add items per minute config option"
Similar to rollbar.js, the max number of items to report per minute. The limit should count uncaught errors and any direct calls.

[2018-04-25 18:58] rivkahstandig3636 opened #248 "Add max items config option"
Similar to rollbar.js maxItems

[2018-04-25 18:58] rivkahstandig3636 opened #249 "Add log level config option"
Similar to rollbar.js logLevel

[2018-04-25 18:59] rivkahstandig3636 opened #250 "Add scrub whitelist config option"
Similar to Rollbar-PHP's scrub_whitelist: an array of fields that you do NOT to be scrubbed even if they match entries in scrub_fields.

[2018-04-25 19:01] pembo13 commented on #231
I can confirm, it's still an issue. On a related note, a sample config using LOGGER in a project with both Django and Celery would very much be appreciated.

[2018-04-25 19:07] rivkahstandig3636 opened #251 "Create sample config using LOGGER in a Django & Celery project"
Requested in #231

[2018-04-25 19:14] villanuevawill opened #252 "Django Environment not posting to rollbar"
https://github.com/Bounties-Network/BountiesAPI/blob/master/bounties_api/bounties/settings.py - it's on this repo - open source.  I followed the django instructions.

[code]

`rollbar.contrib.django.middleware.RollbarNotifierMiddleware` is added to middleware

Environment is not getting passed through. Requirements.txt:

[code]

[2018-04-25 19:18] rivkahstandig3636 commented on #252
We'll take a look into this. Thanks for reporting the issue!

[2018-04-26 19:33] rivkahstandig3636 opened #253 "Only collect person.id by default for person tracking"
Allow the ability to send person.email and person.username, but by default we should only collect person.id going forward.

@rokob This is a top priority.

[2018-04-26 19:34] rivkahstandig3636 opened #254 "Allow IP collection to be easily turned on and off in config"
Keep the default IP collection what it is now, but allow the ability to turn IP collection off in the config.

@rokob This is a top priority.

[2018-04-26 19:35] rivkahstandig3636 opened #255 "Anonymize IP address config option"
We need to allow users the option of collecting IP addresses and anonymizing them. Let's anonymize the IPs as described here: https://support.google.com/analytics/answer/2763052

@rokob This is a top priority.

[2018-04-30 18:57] #30 closed

[2018-05-01 19:07] rokob commented on #242
This is odd because by default we have `body.request.json` in the shortener_keys (https://github.com/rollbar/pyrollbar/blob/master/rollbar/__init__.py#L328,L333) which is intended to reduce the size of the payload by only having a fixed number of key/value pairs. Perhaps this shortener should check the total payload size in addition to the number of elements as somehow this is still causing an iss

[2018-05-01 19:46] kagaram-twilio commented on #242
We don't override that setting. Our payload has just 8 keys, but the values include large dicts. ¯\_(ツ)_/¯

[2018-05-01 23:34] rivkahstandig3636 opened #258 "Point docs from README to Rollbar's site"
Keep the basic getting started info, then link to Rollbar's docs.

[2018-05-02 14:00] kltdwrds opened #260 "`suppress_reinit_warning` has no effect"
The additional kwargs are merged with default settings after the initialization check, thus `'suppress_reinit_warning': True` has no effect.

PR here:
https://github.com/rollbar/pyrollbar/pull/259

[2018-05-02 16:21] asfaltboy opened #261 "Duplicate logging when RollbarNotifierMiddleware & RollbarHandler both enabled"
I'm not entirely sure there's an elegant way to prevent this, as Rollbar "handlers" may live in entirely different processes.

Perhaps this can be done on Rollbar server-side. E.g, we could detect that an event happens exactly in the same (stack frame, process, thread) and "merge" (or link) the events into one?

[2018-05-16 19:00] #254 closed

[2018-05-21 13:54] #204 closed

[2018-05-23 11:38] rivkahstandig3636 commented on #67
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:38] rivkahstandig3636 commented on #119
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:38] #119 closed

[2018-05-23 11:38] rivkahstandig3636 commented on #120
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:38] #120 closed

[2018-05-23 11:38] rivkahstandig3636 commented on #123
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:38] rivkahstandig3636 commented on #125
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:38] #125 closed

[2018-05-23 11:38] rivkahstandig3636 commented on #126
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:39] rivkahstandig3636 commented on #154
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:39] #154 closed

[2018-05-23 11:39] rivkahstandig3636 commented on #155
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:39] #155 closed

[2018-05-23 11:39] rivkahstandig3636 commented on #158
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:39] #158 closed

[2018-05-23 11:39] rivkahstandig3636 commented on #160
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:39] rivkahstandig3636 commented on #161
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:39] #161 closed

[2018-05-23 11:39] rivkahstandig3636 commented on #163
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:39] #163 closed

[2018-05-23 11:40] rivkahstandig3636 commented on #172
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:40] #172 closed

[2018-05-23 11:40] rivkahstandig3636 commented on #179
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:40] #179 closed

[2018-05-23 11:40] rivkahstandig3636 commented on #181
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:40] rivkahstandig3636 commented on #182
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:40] #182 closed

[2018-05-23 11:40] rivkahstandig3636 commented on #183
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:40] #183 closed

[2018-05-23 11:40] rivkahstandig3636 commented on #184
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:40] #184 closed

[2018-05-23 11:40] #187 closed

[2018-05-23 11:40] rivkahstandig3636 commented on #188
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:40] #188 closed

[2018-05-23 11:41] rivkahstandig3636 commented on #195
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:41] #195 closed

[2018-05-23 11:41] rivkahstandig3636 commented on #196
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:41] #196 closed

[2018-05-23 11:41] rivkahstandig3636 commented on #199
Hi there, I’m closing out all issues opened before 2018 that haven’t had any activity on them since the start of this year. If this is still an issue for you, please comment here and we can reopen this. Thanks!

[2018-05-23 11:41] #199 closed

[2018-05-25 08:57] dmitry-mukhin commented on #232
Are you completely dumping changelog.md in favour of github releases?
Seems like a bad move.

[2018-05-25 22:57] rokob commented on #252
It looks like having the LOGGING setup: https://github.com/Bounties-Network/BountiesAPI/blob/master/bounties_api/bounties/settings.py#L144,L148 is causing environment to get set to `None`. If you set `environment: ENVIRONMENT` in the rollbar logging setup, then the environment should get set correctly. That seems to be the immediate cause. I don't know enough about the Django contrib stuff to know

[2018-05-29 10:27] rivkahstandig3636 commented on #232
@dmitry-mukhin Yes, we are.

[2018-05-29 10:30] #252 closed

[2018-06-01 14:34] iasci commented on #215
I think this issue is still valid. We are experiencing the same problem with the following setup:

- Ubuntu 16.04.4 LTS
- OpenSSL 1.0.2g  1 Mar 2016
- Django 1.10

I read some similar issues on other client libraries and seems like it can be related to thread (un)safety of requests's sessions. See: https://stackoverflow.com/questions/18188044/is-the-session-object-from-pythons-requests-library-thr

[2018-06-03 17:11] gilmatzov opened #265 "Rollbar logger upload logs body with %s and it don't replace it with args"
When I use the built-in logger python it uses "args" to fill the message with the parameters.
For now, I needed to change all the logs that I send but the Django logs write it this way and I get logs like

 instead of

As the headline.

[2018-06-04 11:28] rivkahstandig3636 commented on #265
Thanks for the report, we'll take a look into this.

[2018-06-05 20:05] dprothero commented on #123
This is still an issue. Were you not planning on addressing it?

[2018-06-08 16:41] jessewgibbs commented on #123
@dprothero we recently closed out a lot of our older issues, but since it's still affecting you, we've reopened it and added it to our backlog.

[2018-06-08 22:32] rokob commented on #265
This is expected behaviour if you are describing what I think you are describing. Items that get logged with a format string get aggregated by the format string itself rather than with the arguments substituted in. This is because otherwise for most use cases you would end up with different items for the same place because the argument was variable but the actual item is the same. You can use cust

[2018-06-08 22:32] #265 closed

[2018-06-09 07:22] ihoru opened #266 "Problem with passing access_token to send_payload"
As an example, I'm looking at the code in `_report_exc_info`:
[code]

Second argument should be access_token which is `None`, but if I change calling to:
[code]

everything is going to be all right!

It works so on me local machine, but at the production everything is fine.
I can't what occurs such issue, and why it works at production, because considering the whole code it should not!

`__version

[2018-06-09 16:18] rokob commented on #266
If you follow that code through, even if the access token is `None` all that happens is that the token will not be put in the header. The token will still be embedded inside the payload object because of the code in `_build_payload`. I think using `data.get('access_token')` was just an oversight and you are right it should be `payload.get(...)`. But the items are still sent fine because the token

[2018-06-11 11:12] gilmatzov commented on #265
I understand, are you planning on doing an option in settings for changing
it?
The problem at my side is that all the Django HTTP failure request are
logged in the same item.

[image: Photograph] <https://www.carbyne911.com/>

*Gil Matzov*Full stack developer
*M:* + 972 54 8123214 <+972%2054-812-3214>
*E:* gil@carbyne911.com
*www.carbyne911.com* <http://www.carbyne911.com/>
[image: Facebook icon]

[2018-06-11 13:51] #266 closed

[2018-06-15 21:39] #233 closed

[2018-06-15 21:41] #240 closed, assigned to nobody

[2018-06-15 21:42] #207 closed

[2018-06-15 22:42] #123 closed

[2018-06-15 22:51] rokob commented on #229
Reading what we do with werkzeug requests everything we look up is defined on BaseRequest and Requests are subclasses are BaseRequest so switching to BaseRequest will just work.

[2018-06-15 23:09] #234 closed

[2018-06-15 23:22] rokob commented on #229
Fixed in #271

[2018-06-15 23:22] #229 closed

[2018-06-21 14:42] CapCap opened #274 "Ability to set requests.Session() pool size"
Currently in our app we're doing the following as during startup some of our services emit a lot of (important) debug data at a rate that exceeds the default request pool size, so this is our workaround (in our custom `logging.Handler` rollbar wrapper)

It would be great if we could pass something like this through the `rollbar.init` params. I can create a PR if you guys think this is something yo

[2018-06-24 10:42] rivkahstandig3636 commented on #274
@CapCap PRs are always welcome!

[2018-07-09 15:49] pembo13 commented on #231
@rivkahstandig3636 any updates on this?

[2018-07-17 21:07] pembo13 commented on #231
@rokob that helps, thanks.

Django+Celery is a popular enough combo to warrant a Rollbar sample I think. Plus, a few releases ago, Celery removed email error notifications.

[2018-07-20 22:06] rokob commented on #231
So I have https://github.com/rokob/rollbar-django-celery which uses the LOGGING infrastructure to report items to Rollbar rather than the Django middleware and captures uncaught exceptions in both Celery tasks as well as in Django requests. One way to avoid the double initialization issue is to initialize rollbar directly, and then not pass an access token in the LOGGING configuration (https://git

[2018-07-27 13:52] willmcgugan opened #277 "Exception in Rollbar when using file config"
Rollbar raises the following exception when configured from logging.fileConfig:

[code]

The following code will demonstrate this:

[code]

**logging.conf** is as follows:

[code]

This is on Python3.6. It didn't occur on Python2.7 because it allows comparisons between different types, but it also wouldn't have been working as intended...

[2018-08-07 22:15] #258 closed

[2018-08-07 22:15] jessewgibbs commented on #258
This is actually done.  Closing.

[2018-08-07 23:22] #261 closed, assigned to nobody

[2018-08-07 23:31] jessewgibbs commented on #231
Closing this issue since the original question appears to be addressed by the example mentioned above.

[2018-08-07 23:31] #231 closed

[2018-08-08 00:38] jessewgibbs commented on #277
Hi Will,
Sorry for the slow response to your issue.  The primary maintainer of pyrollbar is out at the moment, and no one else on our team has had a chance to look at it.  We'll aim to review this and respond soon!

[2018-08-08 01:41] brianr commented on #277
Thanks to @coryvirok for jumping on this. We've got the fix released in 0.14.2.

[2018-08-08 01:41] #277 closed

[2018-08-20 14:59] peterbe opened #280 "blocking handler doesn't work in most basic example"
I was trying to get [`django-rq`](https://github.com/rq/django-rq) with `rollbar` but instead of creating my own worker using [this tip](https://github.com/rollbar/pyrollbar/blob/18b40e6b8c94864dc0832c8f617aa42f829fa2da/rollbar/contrib/rq/__init__.py#L2-L30) I defined my own custom worker class, which inside the `__init__`, calls `rollbar.init(...)` and set a custom exception handler function.

I

[2018-08-20 15:04] peterbe commented on #280
Scratch that!

I totally is there. I fumbled in the UI. It got (correctly!) lumped with the previous `NameError` exception when I tested with `handler="thread"`.

[2018-08-20 15:04] #280 closed

[2018-08-20 15:05] rivkahstandig3636 commented on #280
Glad you were able to figure it out :)

[2018-08-20 15:46] peterbe opened #281 "blocking handler doesn't work in rq"
I'm struggling to get rollbar (0.14.2) to work with [rq](http://python-rq.org/). In particular, I'm using [`django-rq`](https://github.com/rq/django-rq) which is just a convenient wrapper. With `django-rq` you can define your own custom exception handler function. I did that, with `settings.RQ_EXCEPTION_HANDLERS = ["songsearch.rq.peterbe_rollbar_exception_handler"]`.

The function looks like this:

[2018-08-20 15:46] peterbe commented on #281
As a hack, to get me unblocked, can I specify my own custom transport that doesn't use `threading`?

[2018-08-20 22:01] corps commented on #281
Hi @peterbe,
I'm taking a closer look right now.
The rollbar client uses a [threading local variable](https://stackoverflow.com/questions/1408171/thread-local-storage-in-python#13240093) to provide a thread specific [requests.Sessions](http://docs.python-requests.org/en/master/user/advanced/#session-objects) object.

However, with `blocking` set as the handler (as you have above) the actual execut

[2018-08-20 22:27] corps commented on #281
@peterbe
I took a look at [rq's exception handler documentation](http://python-rq.org/docs/exceptions/).  What I'm wondering is if it's possible that the `transport.post` call is not hanging, but actually throwing an exception itself.  This could happen if the request itself fails or if there is a configuration issue.  You might not see any exception output from this line in your output if rq's de

[2018-08-20 22:56] corps commented on #281
@peterbe
Also one more thing to check -- I noticed you are initializing rollbar inside `peterbe_rollbar_exception_handler` with the blocking handler.

Unfortunately, `rollbar.init` ignores any calls made after the first invocation per process.  This means that if you are calling rollbar.init anywhere else in your codebase, and not providing the `handler="blocking"`, it's possible that the handler

[2018-08-21 01:48] peterbe commented on #281
No dice :(

First I butchered it like this:

[code]
That's in my own exception handler function. No luck. Same as before.

Then, I edited the `rollbar/lib/transport.py` right inside the virtualenv. So now it looks like this:

[code]

In `$TMPDIR/q` all I get is this:

[code]

Note how I printed out a bunch of other stuff there inside the `post` function. It looks like this (printing `args` and `kw

[2018-08-21 10:07] peterbe commented on #281
I'm confident it's using the blocking code because I followed the 'handler'
argument into rollbar/__init__.py where it uses it.

On Mon, Aug 20, 2018 at 6:56 PM Zach Collins <notifications@github.com>
wrote:

--
Peter Bengtsson
Mozilla Services Engineering

[2018-08-21 17:53] corps commented on #281
@peterbe
Thank you for your replies.  I'm going to try to setup a django-rq project and see if I can reproduce the problem.  I'll let you know on this issue when I have some questions or I've gotten a better understanding of the issue.

[2018-08-21 19:06] peterbe commented on #281
Thank you for all your hard work. Rollbar is fantastic.

I must admit that I eventually gave up and switched to Huey which has a contrib package for Django. Rollbar just worked out-the-gate with the rollbar initialized. I think it's because, by default, Huey uses regular threads or something.

[2018-08-24 00:07] jessewgibbs commented on #281
I'm gonna close this since peterbe indicated that he's no longer using rq.

[2018-08-24 00:07] #281 closed

[2018-08-24 12:35] peterbe commented on #281
I think that's fair. Leaving this issue here, to be picked up by Google, is probably good as it might help people avoid RQ if they still can.

[2018-09-05 22:51] jessewgibbs opened #285 "Testing Slack integration"

[2018-09-05 22:51] #285 closed

[2018-09-07 21:21] ajtran opened #286 "Should floats also be treated as ALLOWED_CIRCULAR_REFERENCE_TYPES?"
internal:
* https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/18392225996
* https://rollbar.slack.com/archives/C2C9VAE5Q/p1536347107000100

https://github.com/rollbar/pyrollbar/blob/ae70c1ad7a6976b0c36a1fbdd7d262cf1f7cb39a/rollbar/lib/transforms/__init__.py#L95

[2018-10-02 20:56] pembo13 commented on #251
@rivkahstandig3636 following the sample project as an example, I get `pyrollbar: No access_token provided. Please configure by calling rollbar.init() with your access token` when an uncaught exception occurs.

[2018-10-02 20:56] pembo13 commented on #231
@rokob I commented #251, I'm running into issues with the sample.

[2018-10-04 21:50] luhn opened #289 "Ignore exceptions in Pyramid middleware?"
I have certain exceptions that I expect to happen and catch using an error view to produce a helpful response.  For example, something like this:

[code]

Even though this error is handled, Rollbar sees the ExpiredTokenException in `request.exception` and reports the error to Rollbar.  (Which is somewhat [my fault](https://github.com/rollbar/pyrollbar/pull/162))  I'd like a way to ignore these err

[2018-10-04 22:34] jessewgibbs commented on #289
@luhn thanks for the suggestion.

@rokob what are your thoughts on this?

[2018-10-10 00:02] #241 closed

[2018-10-10 00:10] jessewgibbs commented on #251
@rokob can you take a look at this when you get a chance?

[2018-10-16 20:34] rokob commented on #289
We have the configuration variable `exception_level_filters` https://docs.rollbar.com/docs/python#section-configuration-reference which allows you to set levels but also to ignore completely exceptions by their class. So you could add `(ExpiredTokenException, 'ignored')` to this configuration setting to get the blacklist you are looking for.

[2018-10-16 20:38] rokob commented on #289
If the exception_level_filters` is not enough, we could add the ability to set EXCEPTION_BLACKLIST and EXCEPTION_WHITELIST from the settings file.

[2018-10-16 20:46] rokob commented on #251
Did you catch the init call possibly hidden in the settings file: https://github.com/rokob/rollbar-django-celery/blob/master/rbexample/settings.py#L119,L120

[2018-10-19 15:50] jessewgibbs commented on #289
@luhn I'm going to close this issue since @rokob provided a solution above.  If you have further questions, please let us know.

[2018-10-19 15:50] #289 closed

[2018-10-19 15:58] jessewgibbs commented on #251
@pembo13 I'm going to close this issue.  If you're still encountering this issue, please let us know.

[2018-10-19 15:58] #251 closed

[2018-10-19 17:40] luhn commented on #289
No problem.  @rokob's solution looks like it'll work for me.  Thanks guys!

[2018-10-25 10:27] amirouche opened #293 "Connection pool is full, discarding connection: api.rollbar.com"
We are seeing the following message in rollbar:

It's harmless but I would like to understand.

It's urllib3 (via requests) that emits the message:

https://github.com/urllib3/urllib3/blob/cd7cfa613b2678e700597d098ce9bbdc934863e6/src/urllib3/connectionpool.py#L250-L274

I am not sure how this can happen since the program doesn't hit a lot of domains, my understanding is that the connection pool sh

[2018-10-25 14:03] michaelizergit opened #294 "Logo proposal"
Greetings, @rollbar

Before anything, I would want to say sorry if this is not the proper channel for this. I'm a designer in development with interest in the open source world and I would love to create a logo for your project. It's (of course) totally free and we would be working together to create the design that fits best. In case you agree, it would be useful if you provide any ideas you may

[2018-10-25 19:30] jessewgibbs commented on #293
Hey @amirouche,

Not sure if this is an issue w/ pyrollbar or not, but I'll put this into the backlog for our SDK maintainers to review.

[2018-10-25 21:03] #286 closed

[2018-10-30 00:45] duncanw commented on #161
Hi there, did this change ever get implemented?
If not, I would be interested in it. Thanks!

[2018-10-30 17:07] amirouche commented on #293
I am using 0.13.8 upgrading to 0.14.5 then the error disappears. I think this commit 27cc77afba40e36ffd02c37f0f63c57f3e572128 fix the issue, but I am not sure.

I think it's also related to the fact that we were hiting a rollbar rate limit.

Anyway, the good news is that pyrollbar works just fine.

[2018-10-30 17:07] #293 closed

[2018-10-31 15:00] mgalgs opened #295 "Some stack traces can't be reported due to serialization issues"
I have a particular spot in my code that is confusing pyrollbar.  Stack trace below.  The error I'm seeing from pyrollbar is:

[code]

I redacted the `SimpleLazyObject` string represenation with `*****` just in case that contains any sensitive information like my API key, not sure what it is.  Kind of seems like a base64 string of some sort, but base-64 decoded it just looks like gibberish.

pyrol

[2018-10-31 16:04] jessewgibbs commented on #295
@mgalgs sorry to hear that your encountering this issue and thanks for the detailed report.

@rokob can you investigate?

[2018-11-08 19:30] rokob commented on #295
`SimpleLazyObject` comes from Django, so somewhere an object of that type is getting mixed into the payload and then is choking on serializing it. My cursory searching seems to imply that the Django uses this class for `request.user` which we probably get access to from the request via our middleware. I'm not sure why this would have happened all of a sudden for you unless you upgraded Django vers

[2018-11-08 19:34] mgalgs commented on #295
@rokob we haven't changed Django versions or the user storage format.  Our code is constantly changing though...

[2018-11-15 01:10] rex-remind101 opened #296 "Rollbar drops stack trace and instead reports APIError"
Ever error from this code
[code]

Results in this error on rollbar
[code]
Which is very difficult to work with.

This is from an AWS lambda run.

[2018-11-15 01:16] brianr commented on #296
Hi @rex-remind101 - thanks for the report! Looks like pyrollbar is generating an invalid payload for some reason.

Could you send a quick note to support@rollbar.com with a link to your project in Rollbar? I think there will be some more information there that will help debug this more easily.

[2018-11-16 16:47] jessewgibbs commented on #296
Internal conversation: https://app.intercom.io/a/apps/rlisg82q/conversations/19556865590?redirectTo=feed

[2018-11-27 22:36] jessewgibbs commented on #296
@rokob could you take a look into this issue?  There's some additional conversation w/ the support team at https://app.intercom.io/a/apps/rlisg82q/conversations/19556865590.

[2018-11-27 23:18] rokob commented on #295
I don't really like the idea of special casing a particular class, but I can't quite see how else to resolve this at the moment. I'm going to try to do it in the least gross way.

[2018-12-06 19:21] remarkov commented on #175
Dear @ezarowny
We heavily use pyrollbar in our project and by design a lot of data that helps us in debugging can often be found in request.body. For some time we were using an old version of pyrollbar and did not notice this change but recently we've updated to the latest version and miss the request.body info badly. Is there any chance this can be brought back, maybe optional? Thanks!

[2018-12-06 20:17] rokob commented on #175
We could do one of two things:

1) Add it back exactly how it worked before, but behind a configuration option which defaults to off. This would allow you to be able to turn on the feature and accept that it would not be scrubbed.
2) Attempt to decode the body into JSON and therefore be able to scrub it.

The first option is easier, but the second is probably more inline with the rest of the libra

[2018-12-07 07:09] remarkov commented on #175
Well, I would be happy with any of these options as they will both work fine for our case. However I agree the second option would look more consistent. Since the first one is easy to implement it may have sense to do that for now and extend it with scrubbing on a later stage?I guess these options are not mutually exclusive. In any way, thanks for stepping in!

[2018-12-18 21:09] #295 closed

[2019-01-02 17:04] jessewgibbs commented on #296
I think this issue was resolved via the support conversation.  If not, please re-open and let us know.

[2019-01-02 17:04] #296 closed

[2019-01-31 11:01] kos08001 opened #302 "Rollbar not reporting containerized django"
Followed the rollbar guide and sample django app. No able to get rollbar to report any issues. Able to use send_message() inside django shell however.

[2019-01-31 15:30] kos08001 commented on #302
@pembo13

[2019-01-31 17:17] jessewgibbs commented on #302
@kos08001 what version of Django are you running, and what are the OS and container you're using?

[2019-01-31 18:16] jessewgibbs commented on #302
@jessicahsieh can you see about reproducing this issue?

@kos08001 can you provide us some more code snippets of how you're instantiating and then calling Rollbar?

[2019-01-31 18:40] kos08001 commented on #302
@jessewgibbs
The dockerfile contains standard practice for a django app.
## Below is the docker-compose section of the app.

`project_server:`
&nbsp;&nbsp;&nbsp;&nbsp; `env_file: .env`
&nbsp;&nbsp;&nbsp;&nbsp; `command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:${PROJECT_PORT}"`

   &nbsp;&nbsp;&nbsp;&nbsp;`container_name: project_server`
    &nbsp;&nbsp;&nbsp;&nbsp;`

[2019-02-05 14:54] kos08001 commented on #302
@jessewgibbs was your team able to replicate this?

[2019-02-05 15:39] jessicahsieh commented on #302
@kos08001
I was able to get rollbar working with Django but haven't set it up with celery yet. I'll look into it today

[2019-02-07 16:03] remarkov commented on #175
Hi @rokob
Did you have a chance to look at the issue?

[2019-02-08 16:04] kos08001 commented on #302
@jessicahsieh I was as well just not with celery.

[2019-02-08 17:50] jessicahsieh commented on #242
https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/813334/conversations/20738850300

[2019-02-21 21:05] jessewgibbs commented on #302
@rokob any quick ideas as to what could be going on here?  So far we've not had luck in getting Celery to work within the Docker environment.

[2019-02-21 21:26] rokob commented on #302
If I am reading this correctly, you want to send a message to Rollbar when a celery task fails, is that correct? By default we use a separate thread to send items, so your process might exit before the item has a chance to send because `report_exc_info` returns before the item has actually been sent to the API. You can set the `handler` in your configuration to `blocking` which will cause the `rep

[2019-02-27 01:08] #175 closed

[2019-03-05 21:50] rokob commented on #246
We already have this

[2019-03-05 21:50] #246 closed

[2019-03-11 19:31] brianr commented on #302
@kos08001 ping - have you had a chance to try what @rokob suggested? ^

[2019-03-14 14:56] brettdh opened #309 ""body" being reserved leads to surprising behavior"
Per this comment on `rollbar.report_message`: https://github.com/rollbar/pyrollbar/blob/33ef2e723a33d09dd6302f978f4a3908be95b9d2/rollbar/__init__.py#L427 the `body` key in the `extra_data` kwarg is "reserved". I discovered the hard way that, if you happen to pass a dict with a `body` key, the message you intended to report is replaced with that raw JSON. This was quite difficult to track down, as

[2019-03-14 22:05] brianr commented on #309
Thanks @brettdh; that does sound like quite the rabbit hole...

@rokob thoughts? I think this behavior comes from here:

https://github.com/rollbar/pyrollbar/blob/33ef2e723a33d09dd6302f978f4a3908be95b9d2/rollbar/__init__.py#L754

A few ideas:

1. We could change the API format so that the reserved 'body' field has a different name, i.e. '$body', or we could move it to a different part of the paylo

[2019-03-14 22:09] rokob commented on #309
I think 2 sounds reasonable. In other SDKs we don't merge extra data into data.body.message but into data.custom basically at the top level

[2019-04-12 02:07] ArturMoczulski opened #310 "Make the repo commitizen-friendly"
Add https://github.com/commitizen/cz-cli to repo's dependencies.

Add config for commitizen to use https://www.npmjs.com/package/cz-conventional-changelog

This will provide the `git cz` command which makes creating conventional-changelog commits easy

This also needs we will need to adjust our contributing instructions for the community

[2019-04-16 08:31] DZPM commented on #237
Still happening.

Our work-around is to check the size `request.body`. If greatear than 1 MB, we drop the traceback.

[2019-04-24 00:22] ArturMoczulski opened #311 "Meaningless message reported on HttpResponseBadRequest"
`pyrollbar` reports ` %s: %s (/Library/Frameworks/Python.framework/Versions/*/lib/python*/site-packages/django/utils/log.py:log_response)` when the `HttpResponseBadRequest` is returned from the view in Django projects.

[2019-05-04 21:41] ArturMoczulski opened #313 "Configurable Exception Raising in rollbar.log"
The same as:
https://github.com/rollbar/rollbar-php/issues/448

[2019-05-16 11:23] KPilnacek opened #314 "django-rest-framework: UnsupportedMediaType crashes post_exception_handler"
Hello,

we are happy users of rollbar but recently we came across the following problem:
When we use the following settings:
[code]
and `UnsupportedMediaType` error is raised, the request fails with 500 status instead of 415.

The problem is in the [line 21](https://github.com/rollbar/pyrollbar/blob/master/rollbar/contrib/django_rest_framework/__init__.py#L21)
[code]
where the `data` attribute tri

[2019-06-08 18:11] ArturMoczulski commented on #314
This will need to be addressed in the upcoming release. Thanks for sharing your temporary solution for now :)

[2019-06-13 07:00] KPilnacek commented on #314
My pleasure :)

[2019-06-21 12:31] levesquejf commented on #247
Do we have any updates on this feature request?

[2019-07-11 13:50] EricSei opened #316 "Unable to Override the Host name"
I'm integrating the RollBar with python for our project that ran on Docker.
But I can't override the host name of Server. Rollbar is only reporting default host name. How can I change the host name ?

[2019-07-25 00:39] brianr commented on #316
@EricSei Good quesiton... there's no great way to do this now, but here's an ugly one that should work:

Monkeypatch [`_build_server_data`](https://github.com/rollbar/pyrollbar/blob/master/rollbar/__init__.py#L1299), e.g.:

[code]

Will this work?

[2019-07-25 13:34] EricSei commented on #316
Thanks for your answer. I will try your code and keep you updated.

[2019-09-03 22:50] tomage opened #318 "100% CPU and RAM when handling exception raised from itself"
Hi!

First of all: Thanks for a great library! Rollbar, and pyrollbar, has been a very useful tool for me in my work.

I recently tackled very pernicious problem at work. We had a situation where our servers would in rare occasions start hogging CPU at 100% and slowly run out of RAM.

This happened when we raised an exception from itself. Something that probably isn't very usual, or even correct,

[2019-09-18 15:55] mjhanke commented on #180
@jessewgibbs Could the details of this issue please be made public, and not hidden behind a login and requiring us to be in the rollbar project? Thanks.

[2019-09-18 18:18] brianr commented on #180
Hi @mjhanke , are you experiencing this same issue?

I tracked down the original thread about this... it was from 2015. Here was the relevant stack trace there:

[code]

[2019-09-18 18:22] mjhanke commented on #180
We suspect we might, but looking at that traceback, I don't think so. I thought there was a chance since this issue was referenced by #215, which matches the traceback we're seeing. However, we're running rollbar 0.14.5, which included the fix for #215. We _are_ also running the django debug toolbar, which is why I thought perhaps this issue may explain what we're seeing.

This is the traceback we

[2019-09-18 18:30] #180 closed

[2019-09-18 18:30] brianr commented on #180
Got it - yeah, that looks like the same as #215. I'll reopen that issue.

[2019-09-18 18:36] mjhanke commented on #215
Mentioned in #180, but we're running django version 2.1.2 and rollbar version 0.14.5 and are still seeing a very similar traceback as mentioned above:

[code]

[2019-09-23 18:23] mihow commented on #311
We are seeing thousands of these too. At least one is reported in every request.

[2019-10-04 19:44] letaniaferreira commented on #311
Another customer being affected - https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/488687/conversations/23968040747

[2019-10-07 23:40] letaniaferreira commented on #311
https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/849049/conversations/23996145175

[2019-10-16 17:16] mihow commented on #311
We are seeing these for every Django 404

[2019-10-21 01:52] #318 closed

[2019-10-25 16:59] jamwil opened #320 "Unable to set platform to client to enable "post_client_item" access token"
It appears there is no way to set the platform using the pyrollbar SDK. I receive the following response when attempting to use a client access token. I have tried initializing rollbar with ```rollbar.init()``` including a ```platform="client"``` keyword argument, but this appears to be dropped in the submitted requests.

[code]

I use rollbar to track exceptions in a client-side desktop applicati

[2019-10-25 18:17] brianr commented on #320
@jamwil This should be possible by setting BASE_DATA_HOOK, like this:

[code]

[2019-10-25 19:47] jamwil commented on #320
@brianr Thanks Brian! I'll implement and re-open if this doesn't do the trick.

[2019-10-25 19:47] #320 closed

[2019-10-30 16:50] jamwil opened #321 "Add Person data to python logging without using a web framework"
This is a similar issue to #320

I'm looking to add Person data to a desktop application with no explicit request object. I have tried injecting a custom attribute directly into the LogRecord with the code below, however no request object is coming through. The documentation is a little sparse on what a `request` object is when outside of the confines of a given web framework. My application is a

[2019-11-01 15:09] ihoru opened #322 "ValueError: too many values to unpack"
I use pyrollbar 0.14.7 and I get these messages sometimes:

How can I help you to reproduce the bug?

[2019-11-01 15:15] #322 closed

[2019-11-04 17:03] cdussud opened #323 "Exception level filters not honored when calling report_exc_info"
This code is checking the type of the exception object from the return value of ```sys.exc_info()```
https://github.com/rollbar/pyrollbar/blob/master/rollbar/__init__.py#L636

But ```sys.exc_info()[1]``` is the error message, not the exception object.
This line should be
```filtered_level = _filtered_level(exc_info[0])```

[2019-11-04 18:35] letaniaferreira opened #324 "Support for Startllete / ASGI"
https://app.intercom.io/a/apps/rlisg82q/inbox/inbox/813342/conversations/24375236669

[2019-11-04 21:27] #323 closed

[2019-11-27 21:37] brianr commented on #321
Hi @jamwil - the `rollbar_person` param needs to be a property of the object, not a dictionary element. I think this may work:

[code]

[2019-11-27 22:08] jamwil commented on #321
Thanks @brianr! I'll give this a try.

[2019-11-27 22:08] #321 closed

[2020-01-31 22:02] rezende opened #326 "Falcon person tracking?"
Hey!

Is this enough to add person tracking when using the Falcon framework?

[code]

I added this as one of the first middlewares, but it does not seem to be working. Is there anything more that should be done? Thanks.

Btw I am using Falcon 1.4.1

If this is not the proper place to ask, do you mind pointing me to a better place?

Thanks again.

[2020-02-09 11:33] tirkarthi opened #327 "Deprecation warning due to invalid escape sequences in Python 3.8"
Deprecation warnings are raised due to invalid escape sequences in Python 3.8 . Below is a log of the warnings raised during compiling all the python files. Using raw strings or escaping them will fix this issue.

[code]

[2020-02-18 18:35] nicku33 opened #329 "Limits on locals() logging do not prevent runaway traversal"
Currently the values defined in DEFAULT_LOCALS_SIZES
don't prevent traversal of large collections. The Shortener only applies after the whole object graph has been copied, as far as I can see. In our case, data transformation, it is not uncommon to have massive lists and dictionaries with 100k+ objects.

In traverse.py
[code]
traverses and creates a copy of the collection. This can itself be very

[2020-02-24 16:11] #311 closed

[2020-02-28 13:09] sallyruthstruik commented on #201
Faced similar problem. Be sure, that you don't send 'body' in logger extra, f.e.

[code]

In our case it was a reason of error.

[2020-03-01 17:31] Behoston opened #330 "Consider building wheel"
You should consider building wheel package.
https://pythonwheels.com/
I don't readed rollbar code, I don't know if is possible to create wheel easily, but I can't find discussion about wheel.

rollbar is last package without wheel in my project

[2020-03-26 01:39] Alfor89 commented on #327
#

[2020-03-27 01:33] terencehonles commented on #327
Fixed by #331

[2020-03-31 17:32] terencehonles opened #332 "pypi/release is out of date (commits to master are over a year old)"
The [last release](https://github.com/rollbar/pyrollbar/releases/tag/v0.14.7) is over a year old, and the fix such as #312 (for #311) has not been released yet. I spent too much time debugging why this was still happening for me until I realized I wasn't actually looking at the code I thought I was running.

I added #331 to update that this package does work in newer versions of Python, but the te

[2020-04-03 20:02] #274 closed

[2020-04-06 17:52] waltjones commented on #332
v0.15.0 is released now. https://github.com/rollbar/pyrollbar/releases/tag/v0.15.0

Please feel free to open an issue or PR for the Travis changes.

[2020-04-06 17:52] #332 closed

[2020-04-08 05:18] terencehonles commented on #332
Cool, thanks @waltjones !

[2020-04-22 19:03] terencehonles commented on #332
I opened #334 in case you didn't see it, and I also opened #335

[2020-05-05 16:57] ncernek opened #337 "how to reinitialize rollbar"
I'd like to reinitialize rollbar, to connect to a different rollbar project. Looks like this isn't currently supported, but I found a hacky solution. Is it bad to do this? Are there negative side-effects?

pyrollbar `0.14.5`
[code]

[2020-05-06 19:02] waltjones commented on #329
If I understand correctly, the idea is to apply the limits from the locals config dictionary during capture of the locals objects rather than later.

I thought `maxLevel` might be intended for this, but I don't see yet where it is applied. Maybe a `maxDepth` option is what is needed here?

[2020-05-07 10:34] nicku33 commented on #329
Yes. The limits seem currently used to censor objects going out to logs but the `list(traverse...`  does an unbounded materialization of the generator output before that, if I read the code correctly. This resulted in hangs of 10 min for me with large data objects. I'd prefer a logging utility like pyrollbar have bounded resource usage, since it can be invoked in situations where a system is alrea

[2020-05-21 15:40] wrgoldstein commented on #329
Any update on this?

[2020-05-21 18:15] waltjones commented on #329
Thanks for the nudge.

@nicku33 There are not other naming standards to follow. I prefer maxdepth, assuming maxlevel isn't already being used for this. (When I reviewed I didn't see it being used for anything.) Overall I agree with the motivation and the plan.

[2020-05-21 23:53] terencehonles commented on #337
I haven't looked into this much (and this is not my library, but I have submitted a couple PRs against this repo), however, I think that probably will not work for you since rollbar uses a lot of global variables and your last call to `rollbar.init` will likely be what is used.

I would probably try to explain your use case a bit more, to see if it's something Rollbar wants to support, but it like

[2020-05-21 23:56] terencehonles commented on #314
It looks like this was never fixed as promised, but I fixed it with PR #335

[2020-06-17 12:51] AwaishK commented on #237
@DZPM while reporting error on rollbar, I am also getting below error. errors on rollbar are being reported at different places in different files, do you know how can I trace back where this is coming from? And how to stop this error to pop up again?

 `Failsafe from pyrollbar: payload too large. Original payload may be found in your server logs by searching for the UUID.`

Below is how I report

[2020-06-17 14:19] DZPM commented on #237
@AwaishK I'm afraid don't have access to that codebase anymore.
I guess you should check the size before reporting to rollbar. Good luck!

[2020-06-18 09:18] AwaishK opened #341 "rollbar spammed by fail safe errors"
while reporting error on rollbar, I am getting below error. errors on rollbar are being reported at different places in different files, do you know how can I trace back where this is coming from? And how to stop this error to pop up again?

`Failsafe from pyrollbar: payload too large. Original payload may be found in your server logs by searching for the UUID.
`
Below is how I report errors on ro

[2020-07-23 22:39] TimmyTango commented on #126
Hi! Wanted to re-open this issue if there was a chance this could be implemented by Rollbar. Right now I have `safe_repr` set to False, but I only need a handful of Django models to actually call `repr`. Passing along a list of strings for `whitelisted_types` would be quite handy.

[2020-07-31 16:20] javamo opened #344 "include_request_body not working for Flask"
When you pass `include_request_body=False` (which is the default), Rollbar will still send the body.

[2020-08-02 15:28] lmmentel opened #345 "Getting 'PosixPath' object has no attribute 'lower' with django"
I configured integration with django following the docs, however when an exception is raise somewhere in the app I get in addition

[code]

Is there a way to get rid of that?

[2020-08-05 19:54] mgalgs opened #347 "Not seeing username in my Rollbar People (django)"
I'm using pyrollbar with Django (configured as per [the docs](https://docs.rollbar.com/docs/python)) but I'm only seeing user IDs, not usernames or emails:

![image](https://user-images.githubusercontent.com/152014/89457495-54cc0600-d71a-11ea-97e6-4293bbdade22.png)

Do I need to configure something to get usernames in my People with Django?

See also: https://docs.rollbar.com/docs/person-tracking#

[2020-08-13 15:06] jamiesandenr commented on #321
Thanks to @brianr for this.  I've just spent a good deal of time trying to work out how to do the above before finding this issue.  It would be nice if the documentation be made clearer to explain what the `request` argument is expecting to receive.  Currently the dosctring for `report_exc_info` just says "request: optional, a WebOb, Werkzeug-based or Sanic request object"  which is less than usef

[2020-08-14 17:58] ianlofs commented on #337
I would like to be able to do something like this as well. Actually ideally I would like to be able to create a configured instance of the rollbar client that has the token it needs to route messages appropriately. For my use case I am setting up an Apache Airflow environment that will be shared by multiple teams which will own the running of their DAGs in Airflow. The team provides the their toke

[2020-08-14 18:56] terencehonles commented on #337
Make sure you are reconfiguring rollbar after each reset before sending a new log item otherwise you may be using old config. My comment was assuming you were just initializing with multiple projects, but if you're doing it before each message you should most likely be safe. You may need to use a blocking handler unless all the configuration is picked up and saved locally, otherwise you might end

[2020-08-17 15:03] ymguerra commented on #311
Hi, I know this issue is closed but in our project we are having this problem a lot:
`/opt/virtualenv*/apic*/lib/python*/site-packages/django/utils/log.py:log_response`

We are using python 3.6.9, Django 2.2 and rollbar 0.15.0, this problem start after we migrate from Django 1.11 to 2.2 a few weeks ago, any idea?

[2020-08-17 15:17] waltjones commented on #311
@ymguerra What is the full message string you're seeing?

[2020-08-17 15:43] ymguerra commented on #311
HI @waltjones , he name of the rollbar error on my dashboard is: `#5471 %s: %s (/opt/virtualenv*/apic*/lib/python*/site-packages/django/utils/log.py:log_response)`

and the message is `%s: %s`

[2020-08-17 22:51] #314 closed

[2020-08-18 07:29] moodh commented on #344
We just ran into the same issue. Looking at the implementation:

[code]

This doesn't contain the needed setting check. Simply adding it:
[code]

Fixes the issue. We'd appreciate this being updated!

[2020-08-18 12:32] ymguerra commented on #311
Hi @waltjones, sorry to bother you, but do you have any idea?

[2020-08-18 14:14] javamo commented on #344
@moodh This is my temporal fix in case it's helpful for you:
[code]

[2020-08-18 14:34] moodh commented on #344
Thanks, here's how I removed the data from our end, but I haven't fully tested it yet :)
[code]

[2020-08-18 16:37] waltjones commented on #311
Hi @ymguerra I'll be taking a closer look at this today, and will follow up here as soon as possible.

[2020-08-18 22:06] waltjones commented on #311
@ymguerra Can you send dashboard URL for the relevant project to walt.jones@rollbar.com?

[2020-09-01 19:12] alexmojaki opened #350 "stack_data, executing, and pure_eval"
Hi! I've recently created a few libraries that are helpful for extracting information from frames and tracebacks, and I think they could be very useful to rollbar.

- [`executing`](https://github.com/alexmojaki/executing) can identify the exact AST node being executed by a frame in many cases. It's always disappointed me that Python only points to a line in each frame in tracebacks, especially whe

[2020-09-01 20:53] mrunalk commented on #327
Closing it as it seems to be fixed.

[2020-09-01 20:53] #327 closed

[2020-09-28 13:43] AlecRosenbaum commented on #160
Can we open this issue back up?

I know it's old, but the contents of #149 are still relevant today. Particularly the great comment here: https://github.com/rollbar/pyrollbar/pull/149#issuecomment-264643449, which also lays out some clear nexts steps pending the maintainer's feedback.

The callable support seems relatively easy and flexible, though the use case I'm after is having something like a

[2020-09-28 23:34] tfaris commented on #347
I also had this issue.

The problem seems to be that the request object that the RollbarHandler has access to for Django is a ```socket.socket``` instance and not a ```django.http.HttpRequest``` instance, so it does not actually have access to the user information.

https://github.com/rollbar/pyrollbar/blob/6db0a9c5a15a1f5cc8b5203bdfb523ba9f2c773c/rollbar/logger.py#L132

Django doesn't offer any o

[2020-11-26 10:27] Far3t commented on #330
Bumping this issue to know if this is something you plan to do?
This is an issue I have when using Rollbar with Chalice as the chalice packager is checking if the package has a wheel or not.

[2021-01-28 13:11] mastergberry opened #367 "Duplicate submissions to rollbar backend"
Hi.

We are using Pyramid for one of our websites, and we are noticing that rollbar seems to be submitting 2 instances of the same stack trace for each error that occurs on our website.

We followed the documentation to set it up found here: https://docs.rollbar.com/docs/python#pyramid

We are using the exception view config attribute to display an error page when something breaks: https://docs.py

[2021-01-28 21:10] pawelsz-rb commented on #367
can you provide the snippet of your code, I just tried and I don't see the 2nd instance reported.

[2021-01-29 07:39] mastergberry commented on #367
Effectively this is what we have:

[code]

Is there anything I can do from my side to debug what is triggering this second callback?

[2021-01-29 18:09] pawelsz-rb commented on #367
are you getting second callback for each case ? also are you getting second callback in your logs too ?

[2021-01-29 19:56] mastergberry commented on #367
I only see a single exception in the logs. What do you mean by a second callback for the cases?

[2021-02-16 14:55] mastergberry commented on #367
Hey @pawelsz-rb

I noticed today in my local dev environment the following line when launching the application with pserve

`Rollbar already initialized. Ignoring re-init`

I am not doing anything explicitly with pyrollbar and am just using the documentation with the ini file.

[2021-02-17 19:20] pawelsz-rb commented on #367
ok, we will take a look at that

[2021-02-25 01:25] terencehonles commented on #347
I imagine the problem the OP was seeing is not an issue with the request object. Since they are getting the user ID they most likely have not enabled `capture_username` or `capture_email` which both default to false.

[2021-03-25 20:26] tedmiston commented on #324
Cross-linking with https://github.com/rollbar/pyrollbar/pull/369 which mentions forthcoming support for FastAPI.

[2021-03-29 17:24] mattyg commented on #345
The Rollbar library is expecting a `str` for the configuration variable "root", but django's `settings.BASE_DIR` is a `PosixPath`.

Modify your rollbar settings to cast `settings.BASE_DIR` to a `str`:

[code]

[2021-04-04 08:46] lmmentel commented on #345
Got it, thanks for the response. Might be worth updating rollbar config at some point to accept a PosixPath since django switched to Paths in settings.py as default since 3.x

[2021-04-07 08:54] mrezzamoradi opened #371 "Server history can leak sensitive information"
The information added to a record under `server['history']` can contain PI or other sensitive information. I couldn't find a way to prevent sending that information to Rollbar except by overriding `_add_history` method of `RollbarHandler`.

I wasn't able to find any setting to disable it and tbh didn't have time to dig into the scrubbing mechanism to find out the reason they are not being scrubbed

[2021-04-08 11:16] mrezzamoradi commented on #371
Ok I guess setting `history_size` to zero will do the job

[2021-04-08 11:16] #371 closed

[2021-04-23 21:31] brettdh opened #372 "In django app, normal exceptions like PermissionDenied should not be reported to rollbar"
A 403 response (e.g. due to an authenticated user visiting a URL they are not authorized to access) is an normal response and not indicative of an error in the app. However, the Rollbar middleware for Django reports this exception to Rollbar, and it's not clear to me how (or if) I can configure the middleware to suppress these kinds of spurious errors.

[2021-05-31 20:08] bxsx commented on #372
Hi @brettdh and sorry for the late reply.

You can ignore exceptions with event handlers.

In your case, you may need a handler like this:
[code]

See docs for details: https://docs.rollbar.com/docs/python#ignoring-items

[2021-06-16 01:46] jackton1 opened #381 "Unable to use a custom log formatter"
### Formatter

[code]

### Handler

[code]

### Using:

[code]

### Expectation:

[code]

[2021-06-18 11:08] jackton1 opened #383 "[BUG] The latest release has a bug with the package name resulting in installation errors"
### Steps to replicate
- `pip install rollbar==0.16.0`

@bxsx

[code]

`pyproject.toml`

[code]

[2021-06-18 14:30] #383 closed

[2021-06-18 14:35] bxsx commented on #383
Hey, thanks for the report and sorry for the trouble. I have just released v0.16.1 with the fix.

[2021-06-18 14:52] jackton1 commented on #383
Thanks @bxsx

[2021-06-22 16:05] bxsx commented on #324
We've released v0.16.0 with ASGI / Starlette / FastAPI support. You can update pyrollbar to the latest version (v0.16.1 as I write it) via pip and try it out: `pip install -U rollbar`

Documentation is available at https://docs.rollbar.com/docs/python

[2021-06-22 16:05] #324 closed

[2021-06-22 16:38] #372 closed

[2021-07-12 21:28] swenson opened #387 "Circular error logging for non-http events in Starlette app"
I noticed when upgrading from 0.15.2 to 0.16.1 that our code now hits an infinite loop when we log anything that isn't associated with a request.

It appears that the `startlette` module tries to populate the request, fails, then logs an error, which tries to populate the request, fails, then logs an error, etc., until it overflow the call stack.

https://github.com/rollbar/pyrollbar/blob/df6a145c

[2021-07-26 13:26] phillipuniverse commented on #381
I noticed this same issue. Any sort of timeline available for a fix?

[2021-07-26 13:36] phillipuniverse commented on #381
I think the problem is in the `emit`: https://github.com/rollbar/pyrollbar/blob/f67253a67bc01b7ced2d55df1c1d37ac8224f0e9/rollbar/logger.py#L89

It is not taking into account the `__dict__` of the `LogRecord`.

Here's how you could grab it out though:

[code]

You could extend from the `RollbarHandler` and use the information on `get_extra_from_record` to customize the message, maybe pass in as `ex

[2021-07-26 19:52] omri-shaiko commented on #387
I can see this issue as well.
If you run this example:
https://github.com/rollbar/pyrollbar/blob/master/rollbar/examples/fastapi/app_logger.py

You will see the following error:
[code]

When I run the app with the flag `--lifespan on`  I see the error `Request is not available in the present context.` multiple times.
This issue breaks fastapi [startup event](https://fastapi.tiangolo.com/advanced/e

[2021-08-20 04:52] GrahamLea opened #388 "RollbarHandler should include extra data from LogRecords automatically (or provide a switch to enable that)"
# Expected Behaviour
I've integrated Rollbar with Python's standard `logging` module using the `RollbarHandler`.
Some of my logging statements use the `extra` keyword parameter to add extra context, e.g.
[code]

I expected `RollbarHandler` would include the data in the extra argument automatically, but it doesn't.

# Actual
`RollbarHandler` looks for an attribute called `extra_data` on the `LogRec

[2021-08-20 04:53] GrahamLea commented on #388
Related to https://github.com/rollbar/pyrollbar/issues/381

[2021-08-23 14:44] bbrighttaer commented on #347
Well, after stepping through the pyrollbar codes, I found out that it requires `starlette` to be installed before it can record user info (id, username, email). Of course, you have to set `capture_email` and `capture_username` to `True` in your ROLLBAR config in settings.py

[2021-08-24 17:59] terencehonles commented on #347
@bbrighttaer that's a bug that I fixed in https://github.com/rollbar/pyrollbar/pull/385

[2021-08-24 20:30] bbrighttaer commented on #347
Great and thanks @terencehonles. I had to spend a lot of time figuring it out. I hope it gets merged soon.

[2021-09-11 14:47] indepndnt commented on #387
I am also experiencing this in my FastAPI app on the non-request contexts.

I am using this workaround in my logging setup to inject a dummy "request" when in a non-request context.

[code]

As far as I can see, the only place `rollbar.get_request` is used or recommended is in the logging context. I would recommend removing both of the `log.error` calls in `rollbar.contrib.starlette.requests:get_c

[2021-09-19 14:37] bxsx commented on #347
Hey all!
Thanks for reporting this and all your comments. Let me clarify a few things first, as I believe we have three independent issues under the same hood.

Thanks @terencehonles. Yes, it looks like this could be it.

@mgalgs are you still occurring the issue? Have you tried the solution suggested by @terencehonles in the https://github.com/rollbar/pyrollbar/issues/347#issuecomment-785507384 ?

[2021-09-19 16:46] bxsx commented on #387
Thanks @swenson @omri-shaiko @indepndnt for reporting this issue and all the provided details!

I've just opened a pull request #390 that addresses it. A new release with the fix should be released in the coming days.

The first one logs the error in case accessing request objects is not supported. This can happen if `contextvars` (included in Python 3.7+) or `aiocontextvars` (a third-party packag

[2021-09-20 19:09] mgalgs commented on #347
This looks like the fix! Just pushed it out to production, will report back if I'm still not seeing usernames. Thanks!

[2021-09-20 19:09] #347 closed

[2021-09-21 10:36] #387 closed

[2021-09-22 17:47] bxsx commented on #387
@swenson @omri-shaiko @indepndnt
Happy to announce a new release of the SDK that addresses this issue. Please upgrade to SDK to the most recent version (`v0.16.2` at the moment) and let me know if you still occur any issues here. Thanks!

[2021-09-30 18:42] indepndnt commented on #387
Thanks @bxsx !

[2021-10-15 06:07] tirkarthi opened #392 "assertDictContainsSubset is removed in Python 3.11"
The deprecated aliases were removed in Python 3.11 in python/cpython#28268 .

[code]

[2021-10-25 13:33] phillipuniverse opened #393 "Event handlers awkward interaction with the Django `RollbarNotifierMiddleware`"
I am having an issue where it appears the only clean option to initialize Rollbar event handlers (e.g. `rollbar.events.add_payload_handler`) is within the `RollbarNotifierMiddleware` as a subclass of `__init__`. This does work, but it's not very clean.

Here is my `ROLLBAR` variable in `settings.py`:

[code]

Then at the end of `settings.py` I want to add a payload handler to add trace information

[2021-12-07 00:42] jmeisele opened #396 "RollbarHandler not setting level"
Attaching the RollbarHandler to the root logger does _not_ update the level?

![image](https://user-images.githubusercontent.com/29043118/144950103-5e82fa4c-2161-4031-afb1-c155e0282bdb.png)

[2021-12-13 08:55] StefanMich opened #397 "Not respecting sensitive_post_parameters"
Django defines a decorator [sensitive_post_parameters](https://docs.djangoproject.com/en/4.0/howto/error-reporting/#filtering-sensitive-information) that marks a parameter as sensitive and therefore should be scrubbed when sent in error reports.

Rollbar does not respect this decorator, and sends the parameter as it is.

[2022-01-06 11:48] MattiasOlla opened #398 "FastAPI integration fails if docs are disabled"
I have a FastAPI application where the docs are disabled:
[code]

Which gives me the error `ERROR:rollbar.contrib.fastapi.routing:RollbarLoggingRoute must to be added to a bare router (before adding routes). See docs for more details.`

I dug a bit, and the issue seems to be in this section https://github.com/rollbar/pyrollbar/blob/77cbffaa7447f04f653135e1d7f615ce41fcc4e9/rollbar/contrib/fastapi/u

[2022-01-06 21:37] rishindoshi opened #399 "AttributeError: module 'django.views.debug' has no attribute 'CURRENT_DIR'"
Hello! I have a Django application hooked up to Rollbar, but when server errors occur, there seems to be some errors in the Rollbar library code that also get dumped and produce quite a bit of noise.

[code]

For each error that happens in my application, the above error from Rollbar is logged multiple times and makes it quite difficult to sift through logs to find the application error.

My `ROLL

[2022-01-06 22:11] ezarowny commented on #399
@rishindoshi what are you defining BASE_DIR as? Also, do you have a custom 500 page and, if so, how is it configured?

[2022-01-06 22:14] rishindoshi commented on #399
Hey @ezarowny my `BASE_DIR` is defined as `BASE_DIR = Path(__file__).resolve().parent.parent` which resolves to my project root directory. I do not have a custom 500 page.

[2022-01-07 02:12] ezarowny commented on #399
@rishindoshi Django version?

[2022-01-07 16:23] rishindoshi commented on #399
@ezarowny Django version 4.0 and rollbar version 0.16.2

[2022-01-10 19:36] ezarowny commented on #399
I haven't had a chance to upgrade our app to Django 4.0 yet (we're only one version behind though) but I'll pop back here in when I do because I'll likely run into the same problem.

[2022-01-14 16:29] #396 closed

[2022-01-18 19:31] ezarowny commented on #399
Okay, I was able to replicate this. I'll see if I can figure out what's going on.

[2022-01-18 19:37] ezarowny commented on #399
Here's the relevant change from Django: https://github.com/django/django/commit/9ee693bd6cf4074f04ec51c6f3cfe87cad392f12#diff-eb948fbc65f2117752334d2fc61d04bfbb635aa3d91f7e1b652376efea04e658

[2022-01-18 20:28] rishindoshi commented on #399
@ezarowny Thanks for looking into this again! Lmk if I can provide any more info for you

[2022-01-18 20:49] ezarowny commented on #399
https://github.com/rollbar/pyrollbar/pull/400 might do it

[2022-01-20 00:41] bxsx commented on #181
I'm reopening this issue with the new internal number SC-98310

[2022-01-27 21:25] ezra-agathos opened #402 "Rollbar interprets empty tuple in 'server.history.args' as a CircularReference"
System: macOS Catalina 10.15.7
Python: 3.6.13
Rollbar: 0.15.0

### Problem
We use pyrollbar to capture error/exception information on python modules which run as jobs.   On rollbar, we are seeing many reports that show something like this:
[code]

Below is the code that sets up the logger:
[code]

### Expectation
From what I understand, our code throws exceptions without any additional arguments.

[2022-02-04 08:04] subodhpareek18 commented on #215
Facing the same issue while on flask. It's working fine when running on my local, but when deployed to AWS inside a docker container get an error.

[code]

[code]

[2022-02-14 18:23] camden-lowrance commented on #237
Any workaround for this?  I am getting this regularly when sqlalchemy throws an exception.

[2022-04-03 07:41] narmatov-asylbek opened #405 "Rollbar is not handling errors with FastAPI"
Python 3.8
Rollbar 0.16.2

I am trying to integrate Rollbar with FastAPI using the recommended way(via FastAPI router). But I have some trouble with it.

Rollbar not sending errors with nested routers.

[code]
The problem is Rollbar not sending any errors with of router.

In our project, we have more than 20 routers. And adding to every single of them rollbar_add_to(router) can be problematic. Is

[2022-04-05 12:49] danielmorell commented on #405
Hi @narmatov-asylbek, thanks for opening this issue.

After looking at it the router/app method will not work on a router unless explicitly added. The reason for this is because the Rollbar router integration method simple replaces the `APIRouter.route_class` (default `APIRoute`) with the `RollbarLoggingRoute` class. At first glance it looked like FastAPI should support, this with nested routers.

[2022-04-05 12:49] #405 closed

[2022-04-05 12:59] cyrusradfar commented on #405
@danielmorell thank you for the thoughtful response.

[2022-04-05 13:09] narmatov-asylbek commented on #405
@danielmorell thank you for your response. It will definitely help

[2022-04-05 15:44] haggishunk commented on #405
@danielmorell the in-depth explanation of how the Rollbar middleware instruments the FastAPI router is very illuminating, as is the comparison of ways to get this working for @narmatov-asylbek's use case.  Cheers!

[2022-05-18 07:16] racterub opened #407 "Rollbar with Multiprocessing"
Hi,
I currently working on rollbar with multiprocessing but encounters a problem.
POC here:
[code]

When executing script with various python version, only python3.9 is working (Item created on rollbar dashboard)
[code]
Rollbar Dashboard:
![圖片](https://user-images.githubusercontent.com/20561837/168979899-4c18bed0-1f60-4daa-b555-a796a1bc03c0.png)

[2022-05-19 12:51] danielmorell commented on #407
Hi @racterub thank you for bringing this to our attention with all the details and helpful context. The POC and results give a very clear representation of what is going on. Would you be willing to add a test and update the codebase, or would you like me to do that?

[2022-05-24 10:31] danielmorell commented on #302
I am going to close this issue because of inactivity.

[2022-05-24 10:31] #302 closed

[2022-07-21 14:38] bsmedberg-xometry commented on #237
Xometry is also experiencing this problem: the data that is too large is locals data from the stack frames of the exception: it would be perfectly acceptable, if locals data is too large, to partially or complete omit it from the payload.

[2022-07-21 14:52] bsmedberg-xometry opened #412 "Resource leaks, timeouts when using the default "thread" reporting mechanism: new thread created for each message"
We tried adopting pyrollbar into our production applications yesterday, and had to disable it for causing timeouts and other resource issues.

After investigation, I believe that the problem is in the way the default thread reporting mechanism works:

1. upon report, it launches a completely new thread for each item that is submitted: https://github.com/rollbar/pyrollbar/blob/4eb8a80a04abb66784d18

[2022-07-21 19:07] brianr commented on #237
Here is a blunt instrument as a workaround... you can disable locals collection entirely with:

[code]

Agree this should be handled better; @bsmedberg-xometry 's suggestion makes sense to me.

[2022-07-22 10:17] danielmorell commented on #412
Let me investigate this a bit more. But initially, I think using a tread pool might be the best option.

[2022-07-27 18:38] pawelsz-rb commented on #397
@StefanMich , this fix is already in master

[2022-07-27 18:38] #397 closed

[2022-08-03 19:20] saiyalamarty commented on #237
We had a similar issue where the default rollbar [shortener transform](https://github.com/rollbar/pyrollbar/blob/master/rollbar/lib/transforms/shortener.py) wasn't shortening parts of our payload.
We added a custom payload handler using [Link](https://docs.rollbar.com/docs/python#transforming-the-payload) to shorten the payload with custom logic.

[2022-08-10 22:32] bisognano opened #414 "Add trace_chain to shortener_keys defaults"
Hi! I was running into an issue wherein I was sending my locals to rollbar but getting the error
[code]
The solution was to add a new `shortener_key` to the config as
[code]
Looking at the defaults for `shortener_keys` for when `locals.enabled` is `true`, I would have anticipated `trace_chain` locals handling here as well.
[code]

Would it be reasonable to add that `trace_chain` tuple to the defau

[2022-10-05 11:02] danielmorell commented on #414
Hi @bisognano, sorry for the delay on this. I think this sounds like a reasonable default. I will take a look at #365.

[2022-11-04 16:43] rollbar-bborsits commented on #412
The fix is on its way, but it takes some time as touching the thread pool involves some risk. Alternatively, you can try using our `httpx` or `async` handler. Using one of those would entirely bypass the new thread issue.  The handler can be set by passing the handler argument to the `init()` function: `rollbar.init(handler='async')`

[2022-11-16 16:20] haggishunk opened #415 "Rollbar SDK Does Not Support Basic Configuration from Environment Variables"
# User Story

The rollbar sdk can be configured using environment variables.

During initialization, no variables are required.  The sdk will log errors if the crucial access token is not supplied as an argument or defined as an env var.

[code]

# Background

Developers releasing code into many environments is a given.  More and more the deployments are using cloud platforms that support config b

[2022-11-28 14:41] bsmedberg-xometry commented on #412
Thank you! We can probably get this into our stage environment very quickly, but probably can't test under load until next week after month close.

[2022-11-29 04:06] phillipuniverse opened #417 "Move requests package to optional dependency"
I have a fully asynchronous FastAPI application that I use with Rollbar for error tracking. I want to avoid other developers accidentally utilizing the `requests` package to make external API calls as it will introduce blocking code within a fully asynchronous service.

However, requests is non-optional https://github.com/rollbar/pyrollbar/blob/55d08a65c626539d5a74a0439facc992514247e4/setup.py#L82

[2022-11-29 16:32] danielmorell commented on #417
Thank you @phillipuniverse for bringing this up. That makes a lot of sense!

We currently import requests at the package level and use it as the default HTTP sender for a few handlers. We will need to try to import it if the handler uses it and throw an exception if it does not exist.

Because of that, this is a breaking change. I am adding this to our `v1.0.0` milestone. We were talking internall

[2022-11-29 16:51] phillipuniverse commented on #417
@danielmorell yes, I can work on a contribution for this.

Do y'all have a candidate timeline for when you are looking at a 1.0 release?

[2022-11-29 16:54] danielmorell commented on #417
Thank you @phillipuniverse. I greatly appreciate that!

I am aiming at release Q1 2023. But I will need to talk to product before anything concrete is determined.

[2022-11-30 02:48] danielmorell commented on #412
That makes a lot of sense. If you have not read the write up in the PR, I would highly recommend it. It explains the impact of your Python version on the default number of worker threads in the pool.

If you have any issues, thoughts, or discoveries please let me know. I am happy to help!